USE [master]
GO
/****** Object:  Database [AGIF]    Script Date: 05-04-2024 16:50:13 ******/
CREATE DATABASE [AGIF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AGIF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AGIF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AGIF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AGIF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AGIF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AGIF]
GO
/****** Object:  ColumnMasterKey [CMK_Auto1]    Script Date: 05-04-2024 16:50:13 ******/
CREATE COLUMN MASTER KEY [CMK_Auto1]
WITH
(
	KEY_STORE_PROVIDER_NAME = N'MSSQL_CERTIFICATE_STORE',
	KEY_PATH = N'CurrentUser/my/097DBF8DB63F0CA1CC13395ACF7F4694952F0DB0'
)
GO
/****** Object:  ColumnEncryptionKey [CEK_Auto1]    Script Date: 05-04-2024 16:50:13 ******/
CREATE COLUMN ENCRYPTION KEY [CEK_Auto1]
WITH VALUES
(
	COLUMN_MASTER_KEY = [CMK_Auto1],
	ALGORITHM = 'RSA_OAEP',
	ENCRYPTED_VALUE = 0x016E000001630075007200720065006E00740075007300650072002F006D0079002F0030003900370064006200660038006400620036003300660030006300610031006300630031003300330039003500610063006600370066003400360039003400390035003200660030006400620030001624096EEA739A0C17B21AEF55C97122C6F6B89E2992D6B0EAA3538E17D5136162BA7ED0E8DF2A64E18CEA335BAC4C813186EFA47F85EA57801DD0BCF6C8ED5DEA45B3BEFDF0E1F261D2B1EA70361A741AE4F960D271697E18364809C6EE1F3574117C32DB8EF66EA8C5CAFC6BBE88C98C955F9B5D74CF4E91C259B56DA71674EB61D22765E400D2D6D19DB5A62E8D3E38E7EF54C7459F9E105AE0A684D1F247DC36DABA4C3827921240675A2DDB813C0713218982A7C01834E79BCBC40B0FFAF8DE46DB222250139FC9C7F58030B9BCD471CE97ACDD7387479F292EF0653845886473B7DC261C634F8D7679C4C500CD9AE689E0445F6FBE048371410EF501B84AD2F8F2BFF92DAE04F780DD78C01B9430F186A4216AF3ED35009C371E41524B432F683E494DA3811EC2C2DD99F803F556B1BBF79F729D8894006985353D1AC6AB35A3052C1814C89DA37B58D22749DA30B4BF3EDCED379FBAC0F481447F5F0334A8CCB778446C846DDF3C114174298791388E0A219E6BA701A9B6F39609F0C3F1FF81155A2A08BC053EFE02EF6782F5F7EF17EB8F8ABF87CD92F571C0CA261D2594668C770B61C258C2A22551C90AA46B134527D17C6EB045D460E5F451388E4FF1D3E3C213F125B7C3134730CE7A80E785DA39D01774A5B755DCEED09C9183BF35AABC6007B46284014F123DC6A2A5C63D372C2D8C6B06FBB36049F1389B63
)
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetFullHierarchy]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetFullHierarchy](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[ChildId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetFullHierarchy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetHierarchy]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetHierarchy](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[ChildId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetHierarchy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetLogin]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetLogin](
	[Id] [uniqueidentifier] NOT NULL,
	[UserIntId] [int] NOT NULL,
	[Username] [nvarchar](max) NULL,
	[LoggedInAt] [datetime] NOT NULL,
	[SessionId] [nvarchar](max) NULL,
	[IsLoggedIn] [bit] NOT NULL,
	[LoggedOutAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetLogin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserHandingTakingOver]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserHandingTakingOver](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](max) NULL,
	[RequestDate] [datetime] NOT NULL,
	[HandedOverBy_ServiceNumber] [nvarchar](max) NOT NULL,
	[HandedOverBy_Rank] [nvarchar](max) NOT NULL,
	[HandedOverBy_Name] [nvarchar](max) NOT NULL,
	[HandedOverBy_Appointment] [nvarchar](max) NOT NULL,
	[TakenOverBy_ServiceNumber] [nvarchar](max) NOT NULL,
	[TakenOverBy_Rank] [nvarchar](max) NOT NULL,
	[TakenOverBy_Name] [nvarchar](max) NOT NULL,
	[TakenOverBy_Appointment] [nvarchar](max) NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[IsApproved] [bit] NOT NULL,
	[ApprovingAuthority] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserHandingTakingOver] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
	[Role_Id] [nvarchar](128) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[IntId] [int] IDENTITY(1,1) NOT NULL,
	[EstablishmentFull] [nvarchar](max) NULL,
	[EstablishmentAbbreviation] [nvarchar](max) NULL,
	[Appointment] [nvarchar](max) NULL,
	[PersonnelNumber] [nvarchar](max) NULL,
	[Rank] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[IsPasswordHealthy] [bit] NOT NULL,
	[CreatedByIntId] [int] NOT NULL,
	[CreatedByGuid] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[SuperiorId] [nvarchar](128) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetVisit]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetVisit](
	[Id] [uniqueidentifier] NOT NULL,
	[Start] [datetime] NOT NULL,
	[End] [datetime] NOT NULL,
	[IP] [nvarchar](max) NULL,
	[MAC] [nvarchar](max) NULL,
	[MachineName] [nvarchar](max) NULL,
	[Browser_Name] [nvarchar](max) NULL,
	[Browser_Version] [nvarchar](max) NULL,
	[Browser_Platform] [nvarchar](max) NULL,
	[SessionId] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetVisit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car_PC_Advance_Application1]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_PC_Advance_Application1](
	[Application_Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTimeUpdated] [datetime] NULL,
	[Loanee_Name] [nchar](40) NOT NULL,
	[Army_No] [nchar](20) NOT NULL,
	[Old_Army_No] [nchar](20) NULL,
	[Rank] [nchar](20) NULL,
	[Regt_Corps] [nchar](20) NULL,
	[Unit] [nchar](30) NULL,
	[CDA_PAO] [nchar](20) NULL,
	[Date_Of_Birth] [datetime] NULL,
	[Enrollment_Date] [datetime] NULL,
	[Promotion_Date] [datetime] NULL,
	[Retirement_Date] [datetime] NULL,
	[Year_Of_Service] [int] NULL,
	[Residual_Service] [int] NULL,
	[Salary_Slip_Month_Year] [datetime] NULL,
	[CDA_Account_No] [nchar](30) NULL,
	[Basic_Salary] [int] NULL,
	[Rank_Grade_Pay] [int] NULL,
	[DSOP_AFPP] [int] NULL,
	[MSP] [int] NULL,
	[AGIF] [int] NULL,
	[NPA_X_Pay] [int] NULL,
	[Income_Tax_Monthly] [int] NULL,
	[Tech_Pay] [int] NULL,
	[Rev_IT] [int] NULL,
	[TPTL_Pay] [int] NULL,
	[PLI] [int] NULL,
	[DA] [int] NULL,
	[MISC] [int] NULL,
	[MISC_Pay] [int] NULL,
	[Total] [int] NULL,
	[Salary_After_Deduction] [int] NULL,
	[Dealer_Name] [nchar](40) NULL,
	[Vehicle_Name] [nchar](20) NULL,
	[Vehicle_Make] [nchar](20) NULL,
	[Total_Cost] [int] NULL,
	[Amount_Applied_For_Loan] [int] NULL,
	[No_Of_EMI_Applied] [int] NULL,
	[Inst_No1_Amount] [int] NULL,
	[Inst_No1_Date] [datetime] NULL,
	[Inst_No2_Amount] [int] NULL,
	[Inst_No2_Date] [datetime] NULL,
	[Inst_No3_Amount] [int] NULL,
	[Inst_No3_Date] [datetime] NULL,
	[Inst_No4_Amount] [int] NULL,
	[Inst_No4_Date] [datetime] NULL,
	[Inst_No5_Amount] [int] NULL,
	[Inst_No5_Date] [datetime] NULL,
	[Pers_Address_Line1] [nchar](10) NULL,
	[Pers_Address_Line2] [nchar](10) NULL,
	[Pers_Address_Line3] [nchar](10) NULL,
	[Pers_Address_Line4] [nchar](10) NULL,
	[Pin_Code] [int] NULL,
	[Site_Address_Line1] [nchar](40) NULL,
	[Site_Address_Line2] [nchar](40) NULL,
	[Site_Address_Line3] [nchar](40) NULL,
	[Site_Address_Line4] [nchar](40) NULL,
	[Site_City] [nchar](20) NULL,
	[Site_Pin] [int] NULL,
	[Payee_Account_No] [int] NULL,
	[IFSC_Code] [nchar](11) NULL,
	[Mobile_No] [varchar](10) NULL,
	[E_Mail_Id] [nchar](20) NULL,
	[Payable_In_Favour_Of] [nchar](20) NULL,
	[Dispatch_Type] [nchar](20) NULL,
	[City_Branch_Code_Search] [nchar](20) NULL,
	[Payable_To] [nchar](20) NULL,
	[Dispatch_Address_Line1] [nchar](20) NULL,
	[Dispatch_Address_Line2] [nchar](20) NULL,
	[Dispatch_Address_Line3] [nchar](20) NULL,
	[Dispatch_Address_Line4] [nchar](20) NULL,
	[Previous_Loan_Source] [nchar](20) NULL,
	[Previous_Loan_Purpose] [nchar](10) NULL,
	[Amount] [int] NULL,
	[EMI] [int] NULL,
	[Previous_Loan_Is_Paid] [nchar](10) NULL,
	[Status] [nchar](20) NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Car_PC_Advance_Application1] PRIMARY KEY CLUSTERED 
(
	[Application_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarPcModels]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarPcModels](
	[Application_Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTimeUpdated] [datetime2](7) NULL,
	[Loanee_Name] [varchar](max) NOT NULL,
	[Army_No] [varchar](max) NOT NULL,
	[Old_Army_No] [varchar](max) NULL,
	[Rank] [varchar](max) NULL,
	[Regt_Corps] [varchar](max) NULL,
	[Unit] [varchar](max) NULL,
	[CDA_PAO] [varchar](max) NULL,
	[Date_Of_Birth] [varchar](max) NULL,
	[Enrollment_Date] [varchar](max) NULL,
	[Promotion_Date] [varchar](max) NULL,
	[Retirement_Date] [varchar](max) NULL,
	[Year_Of_Service] [int] NULL,
	[Residual_Service] [int] NULL,
	[Salary_Slip_Month_Year] [varchar](100) NULL,
	[CDA_Account_No] [varchar](max) NULL,
	[Basic_Salary] [int] NULL,
	[Rank_Grade_Pay] [int] NULL,
	[DSOP_AFPP] [int] NULL,
	[MSP] [int] NULL,
	[AGIF] [int] NULL,
	[NPA_X_Pay] [int] NULL,
	[Income_Tax_Monthly] [int] NULL,
	[Tech_Pay] [int] NULL,
	[Rev_IT] [int] NULL,
	[TPTL_Pay] [int] NULL,
	[PLI] [int] NULL,
	[DA] [int] NULL,
	[MISC] [int] NULL,
	[MISC_Pay] [int] NULL,
	[Total] [int] NULL,
	[Salary_After_Deduction] [int] NULL,
	[Dealer_Name] [varchar](max) NULL,
	[Vehicle_Name] [varchar](max) NULL,
	[Vehicle_Make] [varchar](max) NULL,
	[Total_Cost] [int] NULL,
	[Amount_Applied_For_Loan] [int] NULL,
	[No_Of_EMI_Applied] [int] NULL,
	[Inst_No1_Amount] [int] NULL,
	[Inst_No1_Date] [datetime2](7) NULL,
	[Inst_No2_Amount] [int] NULL,
	[Inst_No2_Date] [datetime2](7) NULL,
	[Inst_No3_Amount] [int] NULL,
	[Inst_No3_Date] [datetime2](7) NULL,
	[Inst_No4_Amount] [int] NULL,
	[Inst_No4_Date] [datetime2](7) NULL,
	[Inst_No5_Amount] [int] NULL,
	[Inst_No5_Date] [datetime2](7) NULL,
	[Pers_Address_Line1] [varchar](max) NULL,
	[Pers_Address_Line2] [varchar](max) NULL,
	[Pers_Address_Line3] [varchar](max) NULL,
	[Pers_Address_Line4] [varchar](max) NULL,
	[Pin_Code] [varchar](50) NULL,
	[Site_Address_Line1] [varchar](max) NULL,
	[Site_Address_Line2] [varchar](max) NULL,
	[Site_Address_Line3] [varchar](max) NULL,
	[Site_Address_Line4] [varchar](max) NULL,
	[Site_City] [varchar](max) NULL,
	[Site_Pin] [int] NULL,
	[Payee_Account_No] [varchar](max) NULL,
	[IFSC_Code] [varchar](max) NULL,
	[Mobile_No] [varchar](max) NULL,
	[E_Mail_Id] [varchar](max) NULL,
	[Payable_In_Favour_Of] [varchar](max) NULL,
	[Dispatch_Type] [varchar](max) NULL,
	[City_Branch_Code_Search] [varchar](max) NULL,
	[Payable_To] [varchar](max) NULL,
	[Dispatch_Address_Line1] [varchar](max) NULL,
	[Dispatch_Address_Line2] [varchar](max) NULL,
	[Dispatch_Address_Line3] [varchar](max) NULL,
	[Dispatch_Address_Line4] [varchar](max) NULL,
	[Previous_Loan_Source] [varchar](max) NULL,
	[Previous_Loan_Purpose] [varchar](max) NULL,
	[Amount] [int] NULL,
	[EMI] [int] NULL,
	[Previous_Loan_Is_Paid] [varchar](max) NULL,
	[Status] [varchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[Remark] [varchar](max) NULL,
	[ApplicationForm] [varchar](max) NULL,
	[PaySlip] [varchar](max) NULL,
	[Quotation] [varchar](max) NULL,
	[CancelledCheque] [varchar](max) NULL,
	[DrivingLicence] [varchar](max) NULL,
	[ApplicationType] [varchar](50) NULL,
	[CarLoanType] [varchar](50) NULL,
	[AadharNo] [varchar](max) NULL,
	[PANNo] [varchar](max) NULL,
	[Next_Fmn_Hq] [varchar](max) NULL,
	[Unit_Pin] [varchar](max) NULL,
	[Unit_Address] [varchar](max) NULL,
	[Extension_of_Service_in_Present_Rank] [varchar](max) NULL,
	[Veh_Type] [varchar](max) NULL,
	[Amt_Eligible_for_loan] [varchar](max) NULL,
	[EMI_Eligible_for_loan] [varchar](max) NULL,
 CONSTRAINT [PK_Car_PC_Advance_Application] PRIMARY KEY CLUSTERED 
(
	[Application_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarPDFfiles]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarPDFfiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](50) NOT NULL,
	[type] [nchar](50) NOT NULL,
	[data] [varbinary](max) NOT NULL,
	[Appl_Id] [int] NOT NULL,
	[Date_Created] [datetime] NULL,
 CONSTRAINT [PK_CarPDFfiles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[certTable]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[certTable](
	[certId] [int] IDENTITY(1,1) NOT NULL,
	[certType] [varchar](50) NULL,
	[year] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Claims_Maturity]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims_Maturity](
	[Application_ID] [int] IDENTITY(1,1) NOT NULL,
	[OldArmyNumber] [nvarchar](50) NULL,
	[ArmyNumber] [nvarchar](50) NULL,
	[Rank] [nvarchar](50) NULL,
	[PersName] [nvarchar](50) NULL,
	[Unit] [nvarchar](50) NULL,
	[AdharNo] [int] NULL,
	[CdaPao] [nvarchar](50) NULL,
	[DOB] [datetime] NULL,
	[DOE] [datetime] NULL,
	[RetirementDate] [datetime] NULL,
	[YearOfService] [int] NULL,
	[CdaAccountNo] [nvarchar](50) NULL,
	[MedCat] [nvarchar](50) NULL,
	[ReasonForDischarge] [nvarchar](max) NULL,
	[AgiMembershipAsOR] [nvarchar](50) NULL,
	[AgiMembershipAsGC] [nvarchar](50) NULL,
	[OndeputationandAmount] [int] NULL,
	[AsAOP] [nvarchar](50) NULL,
	[PayeeAccNo] [int] NULL,
	[IFSCCode] [nvarchar](50) NULL,
	[MobileNo] [int] NULL,
	[EmailId] [nvarchar](50) NULL,
	[PayableAtBankName] [nvarchar](50) NULL,
	[PayableInFavour] [nvarchar](50) NULL,
	[PersAddressLine1] [nvarchar](50) NULL,
	[PersAddressLine2] [nvarchar](50) NULL,
	[PersAddressLine3] [nvarchar](50) NULL,
	[PersAddressLine4] [nvarchar](50) NULL,
	[PinCode] [int] NULL,
	[SiteAddressLine1] [nvarchar](50) NULL,
	[Site_AddressLine2] [nvarchar](50) NULL,
	[SiteAddressLine3] [nvarchar](50) NULL,
	[SiteAddressLine4] [nvarchar](50) NULL,
	[SiteCity] [nvarchar](50) NULL,
	[SitePIN] [int] NULL,
	[Ifsc_Code] [nvarchar](50) NULL,
	[DispatchAddressType] [nvarchar](50) NULL,
	[DispatchAddressLine1] [nvarchar](50) NULL,
	[DispatchAddressLine2] [nvarchar](50) NULL,
	[DispatchAddressLine3] [nvarchar](50) NULL,
	[DispatchAddressLine4] [nvarchar](50) NULL,
	[DipatchPinCode] [int] NULL,
	[PreviousLoanSource] [nvarchar](50) NULL,
	[PreviousLoanPurpose] [nvarchar](50) NULL,
	[PreviousLoanAmount] [int] NULL,
	[FirstNominee] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[DateTimeUpdated] [datetime] NULL,
	[Remark] [varchar](max) NULL,
 CONSTRAINT [PK_Claims] PRIMARY KEY CLUSTERED 
(
	[Application_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinalITCERT]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinalITCERT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[foliono] [varchar](max) NULL,
	[type] [varchar](max) NULL,
	[fromdate] [varchar](max) NULL,
	[todate] [varchar](max) NULL,
	[rank] [varchar](max) NULL,
	[name] [varchar](max) NULL,
	[typeofloan] [varchar](max) NULL,
	[totalloanAmt] [varchar](max) NULL,
	[loancategory] [varchar](max) NULL,
	[totalpaid] [varchar](max) NULL,
	[principlepaid] [varchar](max) NULL,
	[interestpaid] [varchar](max) NULL,
	[priemipaid] [varchar](max) NULL,
	[frompriemidate] [varchar](max) NULL,
	[uptopriemidate] [varchar](max) NULL,
	[totalprincipleoutstanding] [varchar](max) NULL,
	[principleAmtduefornextyear] [varchar](max) NULL,
	[interest] [varchar](max) NULL,
	[currentDate] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[House_Building_Advance_Application]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House_Building_Advance_Application](
	[Application_Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTimeUpdated] [datetime] NULL,
	[Loanee_Name] [nchar](40) NULL,
	[Aadhar_No] [bigint] NULL,
	[Army_No] [nchar](20) NOT NULL,
	[Old_Army_No] [nchar](20) NULL,
	[Rank] [nchar](20) NULL,
	[Regt_Corps] [nchar](20) NULL,
	[Unit] [nchar](30) NULL,
	[CDA_PAO] [nchar](20) NULL,
	[Date_Of_Birth] [datetime] NULL,
	[Enrollment_Date] [datetime] NULL,
	[Promotion_Date] [datetime] NULL,
	[Retirement_Date] [datetime] NULL,
	[Year_Of_Service] [int] NULL,
	[Residual_Service] [int] NULL,
	[Salary_Slip_Month_Year] [datetime] NULL,
	[CDA_Account_No] [nchar](30) NULL,
	[Basic_Salary] [int] NULL,
	[Rank_Grade_Pay] [int] NULL,
	[DSOP_AFPP] [int] NULL,
	[MSP] [int] NULL,
	[AGIF] [int] NULL,
	[NPA_X_Pay] [int] NULL,
	[Income_Tax_Monthly] [int] NULL,
	[Tech_Pay] [int] NULL,
	[Rev_IT] [int] NULL,
	[TPTL_Pay] [int] NULL,
	[PLI] [int] NULL,
	[DA] [int] NULL,
	[MISC] [int] NULL,
	[MISC_Pay] [int] NULL,
	[Total] [int] NULL,
	[Salary_After_Deduction] [int] NULL,
	[Purpose_For_Loan_Applied] [nchar](40) NULL,
	[Board_Type] [nchar](20) NULL,
	[Society_City] [nchar](20) NULL,
	[Authority] [nchar](40) NULL,
	[Total_Cost] [int] NULL,
	[Amount_Applied] [int] NULL,
	[No_Of_EMI_Applied] [int] NULL,
	[EMI1_Amount] [int] NULL,
	[EMI1_Date] [datetime] NULL,
	[EMI2_Amount] [int] NULL,
	[EMI2_Date] [datetime] NULL,
	[EMI3_Amount] [int] NULL,
	[EMI3_Date] [datetime] NULL,
	[EMI4_Amount] [int] NULL,
	[EMI4_Date] [datetime] NULL,
	[EMI5_Amount] [int] NULL,
	[EMI5_Date] [datetime] NULL,
	[Pers_Address_Line1] [nchar](10) NULL,
	[Pers_Address_Line2] [nchar](10) NULL,
	[Pers_Address_Line3] [nchar](10) NULL,
	[Pers_Address_Line4] [nchar](10) NULL,
	[Pin_Code] [int] NULL,
	[Site_Address_Line1] [nchar](40) NULL,
	[Site_Address_Line2] [nchar](40) NULL,
	[Site_Address_Line3] [nchar](40) NULL,
	[Site_Address_Line4] [nchar](40) NULL,
	[Site_City] [nchar](20) NULL,
	[Site_Pin] [int] NULL,
	[Payee_Account_No] [int] NULL,
	[IFSC_Code] [nchar](11) NULL,
	[Mobile_No] [int] NULL,
	[E_Mail_Id] [nchar](20) NULL,
	[Payable_At_Bank_Name] [nchar](20) NULL,
	[Payable_In_Favour] [nchar](20) NULL,
	[Dispatch_Address_Type] [nchar](20) NULL,
	[Payable_To] [nchar](20) NULL,
	[Dispatch_Address_Line1] [nchar](20) NULL,
	[Dispatch_Address_Line2] [nchar](20) NULL,
	[Dispatch_Address_Line3] [nchar](20) NULL,
	[Dispatch_Address_Line4] [nchar](20) NULL,
	[Dispatch_Pin_Code] [int] NULL,
	[Previous_Loan_Source] [nchar](20) NULL,
	[Previous_Loan_Purpose] [nchar](10) NULL,
	[Amount] [int] NULL,
	[EMI] [int] NULL,
	[Previous_Loan_Is_Paid] [nchar](10) NULL,
	[Status] [nchar](20) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[Remark] [varchar](max) NULL,
 CONSTRAINT [PK_House_Building_Advance_Application] PRIMARY KEY CLUSTERED 
(
	[Application_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HousePDFfiles]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HousePDFfiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](50) NOT NULL,
	[type] [nchar](50) NOT NULL,
	[data] [varbinary](max) NOT NULL,
	[Appl_Id] [int] NOT NULL,
	[Date_Created] [datetime] NOT NULL,
 CONSTRAINT [PK_HousePDFfiles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRank]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRank](
	[Id] [int] NOT NULL,
	[Rank] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUnit]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUnit](
	[Id] [int] NOT NULL,
	[unitName] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetLogin] ([Id], [UserIntId], [Username], [LoggedInAt], [SessionId], [IsLoggedIn], [LoggedOutAt]) VALUES (N'e7847192-ca59-ed11-aeab-00505685a314', 0, N'', CAST(N'2022-11-01T15:20:10.317' AS DateTime), N'ww02qgdeuu0bff1e05s5otnx', 1, CAST(N'2022-11-01T15:20:10.317' AS DateTime))
INSERT [dbo].[AspNetLogin] ([Id], [UserIntId], [Username], [LoggedInAt], [SessionId], [IsLoggedIn], [LoggedOutAt]) VALUES (N'c41e80c9-da59-ed11-aeab-00505685a314', 0, N'', CAST(N'2022-11-01T17:16:14.640' AS DateTime), N'ich5mmwv1vv4hsraysekz3db', 1, CAST(N'2022-11-01T17:16:14.640' AS DateTime))
INSERT [dbo].[AspNetLogin] ([Id], [UserIntId], [Username], [LoggedInAt], [SessionId], [IsLoggedIn], [LoggedOutAt]) VALUES (N'6e0326fb-5e5a-ed11-aeac-00505685a314', 0, N'', CAST(N'2022-11-02T09:02:31.503' AS DateTime), N'e14zas0vbmogbz22qymlj4mg', 1, CAST(N'2022-11-02T09:02:31.503' AS DateTime))
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'44724ba9-8b30-4bc0-93c9-1a2d469afe9b', N'Administrator', N'The administrator of the application.', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'b4b44875-bf65-4ed0-ab61-55ba646495e8', N'NoSubordinates', N'That user who cannot have subordinates.', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'fb50ff4c-25c8-4dd3-b652-64fd34a6be04', N'User', N'Generic user with no previlleges. By default added to all users created.', N'ApplicationRole')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Discriminator], [Role_Id], [ApplicationUser_Id]) VALUES (N'b9a979dc-36a5-49af-96fc-25d6c80aa809', N'44724ba9-8b30-4bc0-93c9-1a2d469afe9b', N'IdentityUserRole', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
GO
INSERT [dbo].[AspNetVisit] ([Id], [Start], [End], [IP], [MAC], [MachineName], [Browser_Name], [Browser_Version], [Browser_Platform], [SessionId]) VALUES (N'e8847192-ca59-ed11-aeab-00505685a314', CAST(N'2022-11-01T15:20:10.407' AS DateTime), CAST(N'2022-11-01T15:20:10.407' AS DateTime), N'::1', N'00505685A314', N'sdg_asdc', N'Chrome', N'106.0', N'WinNT', NULL)
INSERT [dbo].[AspNetVisit] ([Id], [Start], [End], [IP], [MAC], [MachineName], [Browser_Name], [Browser_Version], [Browser_Platform], [SessionId]) VALUES (N'c51e80c9-da59-ed11-aeab-00505685a314', CAST(N'2022-11-01T17:16:14.703' AS DateTime), CAST(N'2022-11-01T17:16:14.703' AS DateTime), N'192.168.10.190', N'00505685A314', N'DESKTOP-ET2RPN9', N'Firefox', N'106.0', N'WinNT', NULL)
INSERT [dbo].[AspNetVisit] ([Id], [Start], [End], [IP], [MAC], [MachineName], [Browser_Name], [Browser_Version], [Browser_Platform], [SessionId]) VALUES (N'6f0326fb-5e5a-ed11-aeac-00505685a314', CAST(N'2022-11-02T09:02:31.597' AS DateTime), CAST(N'2022-11-02T09:02:31.597' AS DateTime), N'192.168.10.11', N'00505685A314', N'stn1', N'Chrome', N'107.0', N'WinNT', NULL)
GO
SET IDENTITY_INSERT [dbo].[CarPcModels] ON 

SET IDENTITY_INSERT [dbo].[CarPcModels] OFF
GO
SET IDENTITY_INSERT [dbo].[certTable] ON 

INSERT [dbo].[certTable] ([certId], [certType], [year]) VALUES (1, N'HBAFIN', N'2018')
INSERT [dbo].[certTable] ([certId], [certType], [year]) VALUES (2, N'HBAPRO', N'2019')
INSERT [dbo].[certTable] ([certId], [certType], [year]) VALUES (3, N'HBAFIN', N'2019')
SET IDENTITY_INSERT [dbo].[certTable] OFF
GO
SET IDENTITY_INSERT [dbo].[Claims_Maturity] ON 

SET IDENTITY_INSERT [dbo].[Claims_Maturity] OFF
GO
SET IDENTITY_INSERT [dbo].[House_Building_Advance_Application] ON 

SET IDENTITY_INSERT [dbo].[House_Building_Advance_Application] OFF
GO
INSERT [dbo].[tblRank] ([Id], [Rank]) VALUES (19, N'RIS MAJ')
INSERT [dbo].[tblRank] ([Id], [Rank]) VALUES (20, N'RIS')
INSERT [dbo].[tblRank] ([Id], [Rank]) VALUES (21, N'NB RIS')
GO
INSERT [dbo].[tblUnit] ([Id], [unitName]) VALUES (1004060516, N'ASSAM')
INSERT [dbo].[tblUnit] ([Id], [unitName]) VALUES (1004060100, N'ARMD')
INSERT [dbo].[tblUnit] ([Id], [unitName]) VALUES (1004060190, N'PBG')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 05-04-2024 16:50:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 05-04-2024 16:50:13 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 05-04-2024 16:50:13 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApplicationUser_Id]    Script Date: 05-04-2024 16:50:13 ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_Id] ON [dbo].[AspNetUserRoles]
(
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Role_Id]    Script Date: 05-04-2024 16:50:13 ******/
CREATE NONCLUSTERED INDEX [IX_Role_Id] ON [dbo].[AspNetUserRoles]
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 05-04-2024 16:50:13 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 05-04-2024 16:50:13 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SuperiorId]    Script Date: 05-04-2024 16:50:13 ******/
CREATE NONCLUSTERED INDEX [IX_SuperiorId] ON [dbo].[AspNetUsers]
(
	[SuperiorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 05-04-2024 16:50:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetFullHierarchy] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[AspNetHierarchy] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[AspNetLogin] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[AspNetUserHandingTakingOver] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[AspNetVisit] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_Role_Id] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_Role_Id]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.AspNetUsers_SuperiorId] FOREIGN KEY([SuperiorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.AspNetUsers_SuperiorId]
GO
ALTER TABLE [dbo].[Car_PC_Advance_Application1]  WITH CHECK ADD  CONSTRAINT [CK_Car_Table_PhoneNumber] CHECK  (([Mobile_No] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Car_PC_Advance_Application1] CHECK CONSTRAINT [CK_Car_Table_PhoneNumber]
GO
/****** Object:  StoredProcedure [dbo].[certinsert]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE      PROCEDURE [dbo].[certinsert] 
--@Application_Id int OUTPUT, 
@certType varchar(50), 
@year varchar(50)

AS
	IF NOT EXISTS(SELECT * FROM certTable WHERE certType = @certType AND [year] = @year)
    BEGIN
        INSERT INTO certTable(certType,[year])
        VALUES(@certType,@year)

		 SELECT CAST(1 AS BIT) AS IsSuccess,
                   'Added Successfully' AS Msg,
                   's' AS MsgStatus,
                   '' AS MidMsg;

    END
    ELSE
    BEGIN
       SELECT CAST(1 AS BIT) AS IsSuccess,
                   'already exit' AS Msg,
                   's' AS MsgStatus,
                   '' AS MidMsg;
    END
	COMMIT TRAN



GO
/****** Object:  StoredProcedure [dbo].[sp_Claim_Maturity_Application_insert]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE      PROCEDURE [dbo].[sp_Claim_Maturity_Application_insert] 
--@Application_Id int OUTPUT, 
@Loanee_Name nchar(30), 
@Aadhar_No int,
@Army_No nchar(20), 
@Old_Army_No nchar(20), 
@Rank nchar(20), 
@Regt_Corps nchar(20), 
@Unit nchar(30)

AS
	DECLARE @table_name VARCHAR(50)
	SET @table_name='Claim_Maturity_Application'
	SET XACT_ABORT ON
	
	BEGIN TRAN

	--IF NOT EXISTS (SELECT  Application_Id, Loanee_Name, Army_No, Old_Army_No, Rank, Regt_Corps, Unit, CDA_PAO, Date_Of_Birth, Enrollment_Date, Promotion_Date, Retirement_Date, Residual_Service, Salary_Slip_Month_Year, CDA_Account_No, Basic_Salary, Rank_Grade_Pay, DSOP_AFPP, MSP, AGIF, NPA_X_Pay, Income_Tax_Monthly, Tech_Pay, Rev_IT, TPTL_Pay, PLI, DA, MISC, MISC_Pay, Total, Salary_After_Deduction, Purpose_For_Loan_Applied, Board_Type, Society_City, Authority, Total_Cost, Amount_Applied, No_Of_EMI_Applied, Pers_Address_Line1, Pers_Address_Line2, Pers_Address_Line3, Pers_Address_Line4, Pin_Code, Site_Address, Site_City, Site_Pin, Payee_Account_No, IFSC_Code, Mobile_No, E_Mail_Id, Payable_At_Bank_Name, Payable_In_Favour, Dispatch_Address_Type, Payable_To, Dispatch_Address_Line1, Dispatch_Address_Line2, Dispatch_Address_Line3, Dispatch_Address_Line4, Dispatch_Pin_Code, Previous_Loan_Source, Previous_Loan_Purpose, Amount, EMI, Previous_Loan_Is_Paid FROM [dbo].[House_Building_Advance_Application] WITH (NOLOCK) WHERE Application_Id = @Application_Id)
	BEGIN
		INSERT INTO [dbo].[Claim_Maturity_Application] 
		VALUES
			( getdate(), @Loanee_Name,@Aadhar_No, @Army_No, @Old_Army_No, @Rank, @Regt_Corps, @Unit)
			SELECT SCOPE_IDENTITY() -- UserId
	--	SET @Application_Id = @@IDENTITY
	--END
	--ELSE
	--BEGIN
	--	UPDATE [dbo].[House_Building_Advance_Application]
	--	SET
	--		Loanee_Name = @Loanee_Name, Army_No = @Army_No, Old_Army_No = @Old_Army_No, Rank = @Rank, Regt_Corps = @Regt_Corps, Unit = @Unit, CDA_PAO = @CDA_PAO, Date_Of_Birth = @Date_Of_Birth, Enrollment_Date = @Enrollment_Date, Promotion_Date = @Promotion_Date, Retirement_Date = @Retirement_Date, Residual_Service = @Residual_Service, Salary_Slip_Month_Year = @Salary_Slip_Month_Year, CDA_Account_No = @CDA_Account_No, Basic_Salary = @Basic_Salary, Rank_Grade_Pay = @Rank_Grade_Pay, DSOP_AFPP = @DSOP_AFPP, MSP = @MSP, AGIF = @AGIF, NPA_X_Pay = @NPA_X_Pay, Income_Tax_Monthly = @Income_Tax_Monthly, Tech_Pay = @Tech_Pay, Rev_IT = @Rev_IT, TPTL_Pay = @TPTL_Pay, PLI = @PLI, DA = @DA, MISC = @MISC, MISC_Pay = @MISC_Pay, Total = @Total, Salary_After_Deduction = @Salary_After_Deduction, Purpose_For_Loan_Applied = @Purpose_For_Loan_Applied, Board_Type = @Board_Type, Society_City = @Society_City, Authority = @Authority, Total_Cost = @Total_Cost, Amount_Applied = @Amount_Applied, No_Of_EMI_Applied = @No_Of_EMI_Applied, Pers_Address_Line1 = @Pers_Address_Line1, Pers_Address_Line2 = @Pers_Address_Line2, Pers_Address_Line3 = @Pers_Address_Line3, Pers_Address_Line4 = @Pers_Address_Line4, Pin_Code = @Pin_Code, Site_Address = @Site_Address, Site_City = @Site_City, Site_Pin = @Site_Pin, Payee_Account_No = @Payee_Account_No, IFSC_Code = @IFSC_Code, Mobile_No = @Mobile_No, E_Mail_Id = @E_Mail_Id, Payable_At_Bank_Name = @Payable_At_Bank_Name, Payable_In_Favour = @Payable_In_Favour, Dispatch_Address_Type = @Dispatch_Address_Type, Payable_To = @Payable_To, Dispatch_Address_Line1 = @Dispatch_Address_Line1, Dispatch_Address_Line2 = @Dispatch_Address_Line2, Dispatch_Address_Line3 = @Dispatch_Address_Line3, Dispatch_Address_Line4 = @Dispatch_Address_Line4, Dispatch_Pin_Code = @Dispatch_Pin_Code, Previous_Loan_Source = @Previous_Loan_Source, Previous_Loan_Purpose = @Previous_Loan_Purpose, Amount = @Amount, EMI = @EMI, Previous_Loan_Is_Paid = @Previous_Loan_Is_Paid
			--WHERE Application_Id = @Application_Id
	END
	COMMIT TRAN

GO
/****** Object:  StoredProcedure [dbo].[sp_select_CarPc]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_select_CarPc]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select * from [dbo].[Car_PC_Advance_Application]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_finalCert]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_select_finalCert]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select * from [dbo].[FinalITCERT]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_House]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_select_House]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select * from [dbo].[Car_PC_Advance_Application]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_rank]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_select_rank]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select * from [dbo].[tblRank]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_Unit]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_select_Unit]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select * from [dbo].[tblUnit]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_year]    Script Date: 05-04-2024 16:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_select_year]
@certType varchar(50) =null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select DISTINCT  * from [dbo].[certTable] where certType=@certType
END
GO
USE [master]
GO
