
@{
    ViewBag.Title = "AdditionalInsuranceCovertoArmyAviationOfficers";
    Layout = "~/Views/Shared/_Layoutagi.cshtml";
}


<div class="container" style="background:white;padding:2%;">

    <div id="header">
        <h1 align="center"><span class="style1">Additional Insurance Cover to Army Aviation Officers</span></h1>
      
    </div>
    <hr />
    <br />
    <tr>
        <td height="96" colspan="6" width="894">
            <u>
                <b>
                    <a name="additional insurance cover to army aviation officers" id="additional insurance cover to army aviation officers">
                        <font size="3" color="black">Additional Insurance Cover to Army Aviation Officers</font>
                    </a><br />
                </b>
            </u><br />
            1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Additional insurance cover of &#x20B9; 7 lac
            lac is provided to Offrs of Army Aviation who are in receipt of flying pay.
            Maturity amount is also paid at the time of retirement/discharge/release.
            Addl monthly premium for the cover is as under:-
        </td>
    </tr>


    <tr>
        <td colspan="6" class="tabledata">
            <BR>
            <blockquote>
                <table width="95%" border="1" align="left" cellspacing="0" cellpadding="12">
                    <tr>
                        <td colspan="3"><B> &nbsp;&nbsp;&nbsp;&nbsp; Monthly Subs</td>
                        <td colspan="3"> <B>&nbsp;&nbsp;&nbsp;&nbsp;Insurance Cover</td>
                        <td colspan="3"><B> &nbsp;&nbsp;&nbsp;&nbsp; Saving Element</td>
                        <td colspan="3"> <B>&nbsp;&nbsp;&nbsp;&nbsp;Risk Element</td>
                    </tr>
                    <tr>
                        <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; (a)  Upto Lt Col  &#x20B9; 325/- </td>
                        <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; &#x20B9; 7 lac </td>
                        <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; &#x20B9; 120.80 </td>
                        <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; &#x20B9; 204.17 </td>
                    </tr>
                    <tr>
                        <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(b) Cols and Brigs    &#x20B9; 283/-</td>
                        <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; &#x20B9; 7 lac </td>
                        <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; &#x20B9; 78.83</td>
                        <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; &#x20B9; 204.17</td>
                    </tr>


                    <tr>
                        <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(c) Maj Gen and above    &#x20B9; 250/-</td>
                        <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; &#x20B9; 7 lac </td>
                        <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; &#x20B9; 45.83</td>
                        <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; &#x20B9; 204.17</td>
                    </tr>

                </table>
            </blockquote>
        </td>
    </tr>

    <tr>







    <tr>
        <td height="28" colspan="6" width="894">8. &nbsp;&nbsp;&nbsp;&nbsp;Common Errors Noticed While Processing Insurance Benefits :- </td>
    </tr>
    <tr>
        <td colspan="6" class="tabledata" align="justify">
            <blockquote>
                <p align="justify">
                    (a) &nbsp;&nbsp;&nbsp;&nbsp;Faulty nomination i.e. only partial (percentage) nomination done. Nomination should be 100%
                    in case of single nominee or total of 100% in case more than one nominee.
                </p>
                <p align="justify">  (b) &nbsp;&nbsp;&nbsp;&nbsp;Nomination not changed after marriage.</p>
                <p align="justify">  (c) &nbsp;&nbsp;&nbsp;&nbsp; Nomination not changed in case of death of a nominee.</p>
                <p align="justify">  (e) &nbsp;&nbsp;&nbsp;&nbsp;Cutting/ erasing/ overwriting in nomination form.</p>
                <p align="justify">  (f) &nbsp;&nbsp;&nbsp;&nbsp; Delay in fwd post mortem report and copy of FIR in case of unnatural  death.</p>
                <p align="justify">  (g) &nbsp;&nbsp;&nbsp;&nbsp;In correct details, in complete details in affidavits and indemnity bonds.</p>
                <p align="justify">  (h) &nbsp;&nbsp;&nbsp;&nbsp;Round stamp of Notary not affixed.</p>
                <p align="justify">  (j) &nbsp;&nbsp;&nbsp;&nbsp; Incomplete bank details. Signatures/thumb impression coln in the form not completed.</p>
            </blockquote>
        </td>
    </tr>

</div>