
@{
    ViewBag.Title = "ExtendedInsuranceScheme";
    Layout = "~/Views/Shared/_Layoutagi.cshtml";
}

<div class="container" style="background:white;padding:2%;">

    <div id="header">
        <h1 align="center"><span class="style1">Extended Insurance Scheme</span></h1>

    </div>
    <hr />
    <br />
    <table  width="100%" border="0" align="center" cellspacing="0" cellpadding="12">
        <tr>
            <td height="140" colspan="6" valign="top" width="894" align="Justify">
                <BR>
                <u>
                    <a name="insurance cover after retirement under extended insurance (ei) scheme" id="insurance cover after retirement under extended insurance (ei) scheme">
                        <font size="3" color="black"><B>Insurance Cover After Retirement under Extended Insurance (EI) Scheme</B></font>
                    </a><br />
                </u><br />
                <div align="justify">
                    1. &nbsp;&nbsp;&nbsp;&nbsp;Compulsory group EI Scheme was introduced in 1981 with the aim of providing Life Insurance Cover without any
                    maturity benefit to retiring Army personnel up to a specified period and amount by charging one time non refundable subscription. The scheme provides
                    the specified amount of cover to the NOK in case of death of the member within the period of cover, as given in the certificate issued to each member.
                    It is a term insurance scheme and does not have any saving/surviving benefit. However, members joining the scheme wef 31 Jul 2010 will be eligible for
                    survival benefits. The scheme has undergone     periodic reviews and the current ongoing schemes are as given below :-
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="7" class="tabledata2">
                <BR>
                <table width="100%" border="1" align="left" cellspacing="0" cellpadding="5">
                    <tr>
                        <td width="199" rowspan="2" valign="top"><font size="3" color="black"><strong>Date of Joining Scheme</strong></font></td>
                        <td valign="top" width="197" colspan="2"><div align="center"><font size="3" color="black"><strong>Insurance Amount </strong></div></td>
                        <td width="557" rowspan="2" valign="top" align="center"><font size="3" color="black"><strong>Validity </strong></td>
                    </tr>
                    <tr>
                        <td width="84" valign="top"><div align="center"><font size="3" color="black"><strong>Officers&nbsp; </strong></div></td>
                        <td width="109" valign="top"><div align="center"><font size="3" color="black"><strong>JCOs &amp; OR </strong><font size="3" color="black"></u> </div></td>
                    </tr>
                    <tr>
                        <td valign="top" width="199">01 Apr 94 – 30 Jun 99</td>
                        <td valign="top" width="84"><div align="center"><p align="center">&#x20B9; 2 lac</p></div></td>
                        <td valign="top" width="109"><div align="center">	<p align="center">&#x20B9; 1 lac</p></div></td>
                        <td valign="top" width="407">
                            20 years after retirement or 70 years of age whichever is earlier (one time lump sum subscription
                            is Non Refundable)
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="199">01 Jul 99 – 30 Dec 04</td>
                        <td valign="top" width="84"><div align="center"><p align="center">&#x20B9; 3 lac</p></div></td>
                        <td valign="top" width="109"><div align="center"><p align="center">&nbsp;&nbsp;&#x20B9; 1.5 lac</p></div></td>
                        <td valign="top" width="407">20 years after retirement or 72 years of age whichever is earlier (one time lump sum subscription is Non Refundable).</td>
                    </tr>
                    <tr>
                        <td valign="top" width="199">31 Dec 04 – 29 Jun 09 </td>
                        <td valign="top" width="84"><div align="center"><p align="center">&#x20B9; 4 lac </p></div></td>
                        <td valign="top" width="109"><div align="center"> <p align="center">&#x20B9;  2 lac </p></div></td>
                        <td valign="top" width="407">26 years after retirement or 75 years of age whichever is earlier (one time lump sum subscription is Non Refundable).</td>
                    </tr>
                    <tr>
                        <td valign="top" width="199">30 Jun 09 - 31 Jul 10 </td>
                        <td valign="top" width="84"><div align="center"><p align="center">&#x20B9;  6 lac </p></div></td>
                        <td valign="top" width="109"><div align="center"><p align="center">&#x20B9; 3 lac </p></div></td>
                        <td valign="top" width="407">&nbsp;26 years after retirement or 75 years of age whichever is earlier (one time lump sum subscription is Non Refundable). </td>
                    </tr>
                    <tr>
                        <td valign="top" width="199">3 Jul 10 - 30 Dec 13 </td>
                        <td valign="top" width="84"><div align="center"><p align="center">&#x20B9;  6 lac </p></div></td>
                        <td valign="top" width="109"><div align="center"><p align="center">&#x20B9; 3 lac </p></div></td>
                        <td valign="top" width="407">&nbsp;26 years after retirement or 75 years of age whichever is earlier (one time lump sum subscription is Refundable). </td>
                    </tr>
                    <tr>
                        <td valign="top" width="199">31 Dec 13 - 31 Dec 14</td>
                        <td valign="top" width="84"><div align="center"><p align="center">&#x20B9; 10 lac </p></div></td>
                        <td valign="top" width="109"><div align="center">	<p align="center">&#x20B9; 5 lac </p></div></td>
                        <td valign="top" width="407">&nbsp;26 years after retirement or 75 years of age whichever is earlier (one time lump sum subscription is Refundable). </td>
                    </tr>

                    <tr>
                        <td valign="top" width="199">01 Jan 2015 - 31 Mar 17 </td>
                        <td valign="top" width="84"><div align="center"><p align="center">&#x20B9; 10 lac </p></div></td>
                        <td valign="top" width="109"><div align="center">	<p align="center">&#x20B9;  5 lac </p></div></td>
                        <td valign="top" width="407">&nbsp;30 years after retirement or 80 years of age whichever is earlier (one time lump sum subscription is Refundable). </td>
                    </tr>
                    <tr>
                        <td valign="top" width="199">01 Apr 2017 Onwards </td>
                        <td valign="top" width="84"><div align="center"><p align="center">&#x20B9; 10 lac </p></div></td>
                        <td valign="top" width="109"><div align="center">	<p align="center">&#x20B9;  5 lac </p></div></td>
                        <td valign="top" width="407">
                            &nbsp;30 years after retirement or 80 years of age whichever is earlier.  Wef 01 Apr 17 one time non-refundable lump sum
                            subscription of &#x20B9; 92,170/-  to &#x20B9; 1,09,220/-  in r/o offrs and &#x20B9; 49,951/- to &#x20B9; 55,291/- in r/o JCOs/OR is charged depending on the age.
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

        <tr>
            <td height="28" colspan="6" valign="top" width="894">2. &nbsp;&nbsp;&nbsp;&nbsp; <font size="3" color="black"><b><u>Unique Features of EI Scheme.</u></b></font></td>
        </tr>
        <tr>
            <td colspan="6" valign="top" width="859" class="tabledata" align="justify">
                <p>(a) &nbsp;&nbsp;&nbsp;&nbsp; No medical examination is required. Even LMC personnel are covered for the same amount/period, by deduction of the premium.</p>
                <p> (b) &nbsp;&nbsp;&nbsp;&nbsp; )     High risk category personnel, such as heart, cancer, renal disorder and AIDS patients are also covered without discrimination.</p>
                <p> (c) &nbsp;&nbsp;&nbsp;&nbsp; Simple procedure for payment of EI Benefits.</p>
                <p>(d) &nbsp;&nbsp;&nbsp;&nbsp;Nomination procedure exists.</p>
                </blockquote>
            </td>
        </tr>

        <tr>
            <td colspan="6" valign="top" width="894" align="justify">
                <BR>
                <div align="justify">
                    3. &nbsp;&nbsp;&nbsp;&nbsp; In case of change in marital status after issue date of Extended Insurance Certificate, the nomination must be reviewed.  Part II Order of new nominee
                    is required to be published by Record Office (NE Section).
                </div>
            </td>
        </tr>

        <tr>
            <td height="27" colspan="6" valign="top" width="894">
                <p align="left">
                    <BR>
                    4. &nbsp;&nbsp;&nbsp;&nbsp; <font size="3" color="black"><b><u>Procedure for Claiming of EI Benefits. The following docu are required to be forwarded by NOK</u>  :-</b></font>
                </p>
            </td>
        </tr>

        <tr>
            <td colspan="6" valign="top" width="859" class="tabledata" align="justify">
                <BR>

                <p>(a) &nbsp;&nbsp;&nbsp;&nbsp; EI cert in original duly signed by the beneficiary.</p>
                <p>(b) &nbsp;&nbsp;&nbsp;&nbsp;Affidavit and Indemnity Bond in case of loss of original EI certificate<span class="style5">. [</span><font color="#0000ff"><a href="~/_forms/Affidavit_for_Duplicate_Extended_Insurance_Certificate.pdf" target="_blank"> Click here to download Affidavit for Duplicate EI Certificate </a></font><span class="style5">]</span> <span class="style5">[</span><font color="#0000ff"><a href="~/_forms/Indemnity_Bond_for_loss_of_Extended_Insurance_Certificate.pdf" target="_blank"> Click here to download Indemnity Bond </a></font><span class="style5">]</span></p>
                <p>(c) &nbsp;&nbsp;&nbsp;&nbsp;Death Certificate. <span class="style5">[</span><font color="#0000ff"><a href="~/_forms/Death_certificate_for_Insurance_and_Extended_Insurance_Bene.pdf" target="_blank">Click here to download Form</a></font><span class="style5">]</span></p>
                <p>(d) &nbsp;&nbsp;&nbsp;&nbsp;Affidavit to claim EI benefit. <span class="style5">[</span><font color="#0000ff"><a href="~/_forms/Affidavit_for_use_of_Widow_and_Other_than_Widow_for_Insuranc.pdf" target="_blank">Click here to download Form</a></font><span class="style5">]</span></p>
                <p>(e) &nbsp;&nbsp;&nbsp;&nbsp;Indemnity bond from the beneficiary (Widows are exempted). <span class="style5">[</span><font color="#0000ff"><a href="~/_forms/Indemnity_Bond_with_one_Sureity_for_Insurance_and_Extended_I.pdf" target="_blank">Click here to download Form</a></font><span class="style5">]</span></p>
                <p>(f) &nbsp;&nbsp;&nbsp;&nbsp;Bank details along with IFS Code for Electronic transfer of dues. <span class="style5">[</span><font color="#0000ff"><a href="~/_forms/Details_of_Saving_Bank_account_for_Insurance_and_Extended_Insura.pdf" target="_blank">Click here to download Form</a></font><span class="style5">]</span></p>
                <p>(g) &nbsp;&nbsp;&nbsp;&nbsp;Family details. <span class="style5">[</span><font color="#0000ff"><a href="~/_forms/Family_Details_for_Insurance_and_Extended_Insurance_Benefit.pdf" target="_blank">Click here to download Form</a></font><span class="style5">]</span></p>
                <p>(h) &nbsp;&nbsp;&nbsp;&nbsp;Consent certificate. <span class="style5">[</span><font color="#0000ff"><a href="~/_forms/Affidavit_for_Consent_Certificate_Required_for_nsurance_and.pdf" target="_blank">Click here to download Form</a></font><span class="style5">]</span></p>
                <p>(j) &nbsp;&nbsp;&nbsp;&nbsp;Death confirmation and Sheet Roll data from Record Office.</p>

                </blockquote>
            </td>
        </tr>
        
        <tr>
            <td height="27" colspan="6" valign="top" width="894">5. &nbsp;&nbsp;&nbsp;&nbsp;  <font size="3" color="black"><b><u>Common errors noticed     while processing extended insurance claims are as follows</u></b> :- </font></td>
        </tr>
        <tr>
            <td colspan="6" valign="top" width="859" class="tabledata">
                <p>(a) &nbsp;&nbsp;&nbsp;&nbsp; Not changing nomination on death of nominee.</p>
                <p>(b) &nbsp;&nbsp;&nbsp;&nbsp;  Not forwarding Affidavit and Indemnity Bond in case the Original Extended Insurance Certificate has been misplaced/ lost / not traceable.</p>
                <p>(c) &nbsp;&nbsp;&nbsp;&nbsp;Not attaching Death Certificate.</p>
                <p>(d) &nbsp;&nbsp;&nbsp;&nbsp;Incomplete family details.</p>
                <p>(e) &nbsp;&nbsp;&nbsp;&nbsp;Forwarding IFSC Code of Bank and cancelled cheque is recommended for       early payment.</p>
                <p> (f) &nbsp;&nbsp;&nbsp;&nbsp;Hiding of info in case member re-employed in Central Govt Department.</p>
            </td>
        </tr>
    </table>
</div>
