
@{
    ViewBag.Title = "InsuranceCover";
    Layout = "~/Views/Shared/_Layoutagi.cshtml";
}

<div class="container" style="background:white;padding:2%;">

    <div id="header">
        <h1 align="center"><span class="style1">InsuranceCover</span></h1>
       
    </div>
    <hr />
    <br />
    <table width="100%" border="0" align="center" cellspacing="0" cellpadding="12">
        <tr>
            <td height="79" colspan="6" valign="top">
                <u>
                    <b>
                        <a name="insurance cover" id="insurance cover">
                            <font size="3" color="black">Insurance Cover</font>
                        </a>
                    </b>
                </u><br /><br />
                1. &nbsp;&nbsp;&nbsp;&nbsp;<b><u><font size="4">Life Insurance Cover</font></u></b>. &nbsp;&nbsp;AGIF pays insurance amount to its members irrespective of cause of death,
                including war and warlike situation, medical diseases, suicide and accidents.  The monthly subscription comprises of Saving Element as a major component and insurance component consisting of Insurance,
                War Risk and Disability Benefit. Details of subscription and insurance cover provided with effect from 01 Jan 2018 :-
            </td>
        </tr>

        <tr>
            <td colspan="6" class="tabledata">
                <blockquote>
                    <table width="100%" border="1" align="left" cellspacing="0" cellpadding="3">
                        <tr>
                            <td height="32" align="center" colspan="2"><u><b>Category</b></u></td>
                            <td height="32" align="center"><u><b>Monthly Subscription</b></u></td>
                            <td height="32" align="center"><u><b>Saving Element</b></u></td>
                            <td height="32" align="center"><u><b>Risk Element</b></u></td>
                            <td height="32" align="center"><u><b>Insurance Cover</b></u></td>
                            <td height="32" align="center"><u><b>Wef Date</b></u></td>
                        </tr>

                        <tr>
                            <td colspan="5" height="32"> &nbsp;(a) &nbsp;             <u><B>Regular Army</B></u>.</td>
                        </tr>

                        <tr>
                            <td height="32" colspan="2">  &nbsp; &nbsp; &nbsp; &nbsp;(i) &nbsp;Officers</td>
                            <td height="32">&#x20B9;5,000/-</td>
                            <td height="32">&#x20B9;3,988/-</td>
                            <td height="32">&#x20B9;1,012/-</td>
                            <td height="32"><font face="Rupee Foradian" size="2">`</font> 75 lac  </td>
                            <td height="32"></td>
                        </tr>

                        <tr>
                            <td height="32" colspan="2">    &nbsp; &nbsp; &nbsp; &nbsp;(ii) &nbsp;JCOs/ OR</td>
                            <td height="32">&#x20B9; 2,500/-</td>
                            <td height="32">&#x20B9; 2,033/-</td>
                            <td height="32">&#x20B9; 467/-</td>
                            <td height="32">&#x20B9; 40 lac </td>
                            <td height="32"> </td>
                        </tr>


                        <tr>

                            <td colspan="2" height="32">  &nbsp;(b) &nbsp; &nbsp;<u><b>DSC JCOs/ OR</b></u>.</td>
                            <td height="32">&#x20B9; 2,590/-</td>
                            <td height="32">&#x20B9; 1,651.75/-</td>
                            <td height="32">&#x20B9; 938.25/-</td>
                            <td height="32">&#x20B9; 37.5 lac</td>
                            <td height="32"></td>
                        </tr>
                        <tr>
                            <td colspan="5" height="32">  &nbsp;(c) &nbsp; &nbsp; <u><b>APS (Deputationists from P &amp; T)</b></u>.</td>
                        </tr>

                        <tr>

                            <td height="32" colspan="2">  &nbsp; &nbsp; &nbsp; &nbsp;(i) &nbsp;Officers </td>
                            <td height="32">&#x20B9;5,190 /-</td>
                            <td height="32">&#x20B9;3,800 /-</td>
                            <td height="32">&#x20B9;1,390 /-</td>
                            <td height="32">&#x20B9; 75 lac </td>
                            <td height="32"></td>
                        </tr>
                        <tr>

                            <td height="32" colspan="2"> &nbsp; &nbsp; &nbsp; &nbsp;(ii) &nbsp;JCOs &amp; OR </td>
                            <td height="32">&#x20B9; 2,525/-</td>
                            <td height="32">&#x20B9; 1,869.25/-</td>
                            <td height="32">&#x20B9; 655.75/-</td>
                            <td height="32">&#x20B9; 37.5 lac </td>
                            <td height="32"></td>

                        </tr>
                        <tr>

                            <td colspan="5" height="32">&nbsp;(d) &nbsp; &nbsp; <u><b>Gentlemen/Lady Cadets</b></u>.</td>
                        </tr>
                        <tr>

                            <td height="32" colspan="2">   &nbsp; &nbsp; &nbsp; &nbsp;(i) &nbsp;IMA &amp; OTA (In receipt of stipend) </td>
                            <td height="32">&#x20B9; 5,000/-</td>
                            <td height="32">&#x20B9;3,987/-</td>
                            <td height="32">&#x20B9;1013/-</td>
                            <td height="32">&#x20B9; 75 lac </td>
                            <td height="32"></td>
                        </tr>
                        <tr>

                            <td height="32" colspan="2"> &nbsp; &nbsp; &nbsp; &nbsp;(ii) &nbsp;10+2 (TES) Entry  </td>
                            <td height="32">&#x20B9;8,200/- (for 3 years) </td>
                            <td height="32" align="center"> </font>-</td>
                            <td height="32">&#x20B9;8,200/-</td>
                            <td height="32">&#x20B9; 15 lac</td>
                            <td height="32">One time Nonrefundable premium without Maturity Benefits.</td>
                        </tr>
                        <tr>

                            <td height="32" colspan="2">&nbsp; &nbsp; &nbsp; &nbsp;(iii) &nbsp;NDA</td>
                            <td height="32">&#x20B9; 6,400/- (for 3 years)</td>
                            <td height="32" align="center"> </font>-</td>
                            <td height="32">&#x20B9;6,400/-</td>
                            <td height="32">&#x20B9; 15 lac</td>
                            <td height="32" align="center">-do-</td>
                        </tr>
                        <tr>

                            <td height="32" colspan="2">  &nbsp; &nbsp; &nbsp; &nbsp;(iv) &nbsp;AFMC  Cadets</td>
                            <td height="32">&#x20B9; 7,200/- (for 4&frac12; yrs) </td>
                            <td height="32" align="center"> </font>-</td>
                            <td height="32">&#x20B9;7,200/-</td>
                            <td height="32">&#x20B9; 15 lac</td>
                            <td height="32" align="center">-do-</td>

                        </tr>

                        <tr>
                            <td height="32" colspan="2"> &nbsp; &nbsp; &nbsp; &nbsp;(v) &nbsp;Student Nurses of Comd Nursing School/College (Bsc Nursing)</td>
                            <td height="32">&#x20B9; 4,625/- (for 4 yrs) </td>
                            <td height="32" align="center"> </font>-</td>
                            <td height="32">&#x20B9;4,625/-</td>
                            <td height="32">&#x20B9; 8 lac</td>
                            <td height="32" align="center">-do-</td>

                        </tr>

                        <tr>
                            <td height="32" colspan="2"> &nbsp; &nbsp; &nbsp; &nbsp;(vi) &nbsp;Student Nurses of Comd Nursing School/College (GNM)</td>
                            <td height="32">&#x20B9; 4,110/- (for 3&frace12 yrs)<BR> (Wef Acdamy Yr 2015 - 16) </td>
                            <td height="32" align="center"> </font>-</td>
                            <td height="32">&#x20B9;4,110/-</td>
                            <td height="32">&#x20B9; 8 lac</td>
                            <td height="32" align="center">-do-</td>

                        </tr>
                    </table>
                </blockquote>
            </td>
        </tr>

        <tr>
            <td colspan="6" align="justify">
                <BR>
                <div align="justify">
                    2. &nbsp;&nbsp;&nbsp;&nbsp;<strong><u><font size="4">Ex-Gratia Grant for Cadets</font> </u></strong>. &nbsp;&nbsp;Ex-Gratia Grant is paid to those
                    Cadets of NDA, AFMC and 10+2(TES) who are invalided out with less than 20% disability. The amount of Ex-Gratia Grant is Rs 50000/-.  Rs 1 Lac is
                    paid to cadets who are invalided out with less than 20% disability during their last year of training. Disability due to alcoholism, drug addiction
                    and due to diseases of pre-enrolment origin is not eligible for Ex-Gratia Grant.


                </div>
            </td>
        </tr>

        <tr>
            <td colspan="6">
                <BR>3. &nbsp;&nbsp;&nbsp;&nbsp;<u><b><font size="4">Territorial Army (TA) Personnel</font></b></u>.
                &nbsp;&nbsp;  Insurance cover of Territorial Army Personnel with effect from 01 Apr 2012 is as under :-
            </td>
        </tr>

        <tr>
            <td colspan="6" class="tabledata">
                <BR>
                <blockquote>
                    <table width="95%" border="1" align="left" cellspacing="0" cellpadding="12">
                        <tr>
                            <td colspan="3"><B> &nbsp;&nbsp;&nbsp;&nbsp; Subscription Per Annum</td>
                            <td colspan="3"> <B>&nbsp;&nbsp;&nbsp;&nbsp;Insurance Cover</td>
                            <td colspan="3"><B> &nbsp;&nbsp;&nbsp;&nbsp; Saving Element</td>
                            <td colspan="3"> <B>&nbsp;&nbsp;&nbsp;&nbsp;Risk Element</td>
                        </tr>
                        <tr>
                            <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; (a)  Officers &#x20B9; 30,000/- </td>
                            <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; &#x20B9; 30 lac </td>
                            <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; &#x20B9; 21,369/- </td>
                            <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; &#x20B9; 8631/- </td>
                        </tr>
                        <tr>
                            <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(b) JCOs/ OR  &#x20B9; 15,000/-</td>
                            <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; &#x20B9; 15 lac </td>
                            <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; &#x20B9; 10,759.50</td>
                            <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp; &#x20B9; 4.240.50</td>
                        </tr>
                    </table>
                </blockquote>
            </td>
        </tr>

        <tr>
            <td colspan="6" width="894">
                <BR>4. &nbsp;&nbsp;&nbsp;&nbsp;The insurance cover is paid irrespective of cause of death including War and Warlike situations, Medical diseases, Suicide and Accidents.
            </td>
        </tr>
        <tr>
            @*<td width="594" colspan="6"><div align="right"><b><a href="#benefitswhileinservice" class="style6" style="text-decoration: none">TOP</a></b></div></td>*@
        </tr>
        <tr>
            <td height="31" colspan="6" width="894">
                5. &nbsp;&nbsp;&nbsp;&nbsp;Documents Required for Obtaining Insurance Benefits.

            </td>
        </tr>



        <tr>

            <td colspan="6" class="tabledata">
                <blockquote>

                    <p>
                        (a) &nbsp;&nbsp;&nbsp;&nbsp;Claim for Insurance Benefits : AGIF (Appendix 'C' to AO 23/2002/AGI).
                        [<a href="../_forms/docu_insurance_claim/Claim_for_Insurance_Benefits.pdf" target="_blank">Click here to download form</a>]
                        [<a href="..\_forms\docu_insurance_claim\Claim_for_Insurance_Benefits.pdf">click here</a>]


                    </p>

                    <p>
                        (b) &nbsp;&nbsp;&nbsp;&nbsp;Nomination for AGIF.
                    </p>

                    <p>
                        (c) &nbsp;&nbsp;&nbsp;&nbsp;Death Certificate. [Click here to download Consent Certificate ] [Click here to download Affidavit ] .
                        [<a href="../_forms/docu_insurance_claim/Death_certificate_for_Insurance_and_Extended_Insurance_Bene.pdf" target="_blank">Click here to download form </a>]
                    </p>


                    <p>
                        (d) &nbsp;&nbsp;&nbsp;&nbsp;Affidavit from Beneficiary.   [<a href="../_forms/docu_insurance_claim/Affidavit_for_Consent_Certificate_Required_for_Insurance_and.pdf" target="_blank">Click here to download Consent Certificate </a>]
                        [<a href="../_forms/docu_insurance_claim/Affidavit_for_use_of_Widow_and_Other_than_Widow_for_Insuranc.pdf" target="_blank">Click here to download Affidavit </a> ]
                    </p>

                    <p>
                        (e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indemnity Bond from Beneficiary.  [<a href="../_forms/docu_insurance_claim/Indemnity_Bond_with_one_Sureity_for_Insurance_and_Extended_I.pdf" target="_blank">Click here to download form</a>]
                    </p>

                    <p>
                        (f) &nbsp;&nbsp;&nbsp;&nbsp;Family details. [<a href="../_forms/docu_insurance_claim/Family_Details_for_Insurance_and_Extended_Insurance_Benefit.pdf" target="_blank">Click here to download form</a>]
                    </p>

                    <p>
                        (h) &nbsp;&nbsp;&nbsp;&nbsp;Bank account details.&nbsp;&nbsp;  [<a href="../_forms/docu_insurance_claim/Details_of_Saving_Bank_account_for_Insurance_and_Extended_In.pdf" target="_blank">Click here to download form</a>]


                    </p>
                </blockquote>
            </td>
        </tr>

        <tr>

            <td height="31" colspan="6" width="894">
                6. &nbsp;&nbsp;&nbsp;&nbsp;
                Important instructions on Life Insurance Cover of
                AGIF are given in the following letters :-

            </td>
        </tr>

        <tr>

            <td colspan="6" class="tabledata">
                <blockquote>

                    <p>
                        (a) &nbsp;&nbsp;&nbsp;&nbsp;A/56271/R/AG/Ins (Coord) dated 16 Dec 2010 regarding revision of Ex-Gratia Grant to Cadets of IMA, OTA, NDA, CME, MCTE, MCEME and AFMC.

                    </p>

                    <p>
                        (b) &nbsp;&nbsp;&nbsp;&nbsp;A/56271/R/AG/Ins (Coord) (ii) dated 20 Jul 2015 regarding review of insurance cover for NDA and AFMC cadets.

                    </p>


                    <p>
                        (c) &nbsp;&nbsp;&nbsp;&nbsp;A/56271/R/AG/Ins (Coord) (i) dated 22 Aug 2016 regarding revision of insurance cover to Gentlemen and Lady cadets.

                    </p>



                    <p>
                        (d) &nbsp;&nbsp;&nbsp;&nbsp;A/56271/R/AG/Ins (Coord) dated 01 Dec 2017 regarding increase of insurance cover to serving Army personnel.

                    </p>
                </blockquote>
            </td>

        </tr>
    </table>

</div>


