
@{
    ViewBag.Title = "MATURITY";
    Layout = "~/Views/Shared/_Layoutagi.cshtml";
}

<div class="container" style="background:white;padding:2%;">
    <div id="wrap">

        <div id="header">
            <h1 align="center"><span class="style1">The Army Group Insurance Fund</a></h1>
        </div>

        <div id="top"> </div>
        <div id="contentt">
            <p align="center" class="style10"><u>MATURITY TABLES FOR THE FY 2018-19</u></p>
            <p align="center" class="style2">&nbsp;</p>
            <p align="center" class="style2">&nbsp;</p>
            <p align="center" class="style2">&nbsp;</p>
            <table width="100%" border="0" align="center">

                <tr>
                    <TD width="50%"><font size="5" color="red"><B><U>Officers</U></B></font></TD>
                    <TD width="50%" align="right"><font size="5" color="red"><B><U>JCO/OR</U></B></font></TD>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td width="50%">
                        <a target="_blank" href="~/Home/DownloadPDF" title="Click Here For The Maturity Table">
                            <span style="text-decoration: none"><font size="4"><B>Offrs Reg Army</B></font> </span>
                        </a>
                    </td>
                    <td width="50%" align="right">
                        <a target="_blank" href="~/Home/DownloadPDF1" title="Click Here For The Maturity Table">
                            <span style="text-decoration: none"><font size="4"><B>JCO/OR Reg Army</B></font></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <a target="_blank" href="~/Home/DownloadPDF2" title="Click Here For The Maturity Table">
                            <span style="text-decoration: none"><font size="4"><B>Offrs TA </B></font></span>
                        </a>
                    </td>
                    <td width="50%" align="right">
                        <a target="_blank" href="~/Home/DownloadPDF3" title="Click Here For The Maturity Table">
                            <span style="text-decoration: none"><font size="4"><B>JCO/OR TA </B></font></span>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td width="50%">
                        <a target="_blank" href="~/Home/DownloadPD4" title="Click Here For The Maturity Table">
                            <span style="text-decoration: none"><font size="4"><B>Offrs APS</B></font> </span>
                        </a>
                    </td>
                    <td width="50%" align="right">
                        <a target="_blank" href="~/Home/DownloadPDF5" title="Click Here For The Maturity Table">
                            <span style="text-decoration: none"><font size="4"><B>JCO/OR APS</B></font> </span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td width="50%" align="right">
                        <a target="_blank" href="~/Home/DownloadPDF6" title="Click Here For The Maturity Table">
                            <span style="text-decoration: none"><font size="4"><B>JCO/OR DSC</B></font></span>
                        </a>
                    </td>
                </tr>
            </table>
            <p align="center" class="style2">&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div style="clear:both;"> </div>
        </div>
        <div id="bottom"> </div>
        <div id="footer">Copyright  &copy; 2018 All Rights Reserved. Powered by AGIF </div>
    </div>
</div>
