
@{
    ViewBag.Title = "MDprofile";
    Layout = "~/Views/Shared/_Layoutagi.cshtml";
}
<div class="container" style="background:white;padding:5%;">
    <p align="center">
        <strong><u> </u></strong>
    </p>
    <p align="center">
        <strong>
            <u>BIO DATA : IC 40699M MAJ GEN S KEMPARAJ, SM, VSM (RETD)</u>
        </strong>
    </p>
    <p align="center">
        <strong><u>MANAGING DIRECTOR, AGIF</u></strong>
    </p>
    <p>
        1. Major General S Kemparaj, SM, VSM has over 36 years of service in the
        Indian Army. He is an alumnus of Baldwin Boys’ High School, the National
        College, Jayanagar, Bangalore, the National Defence Academy, Khadakvasla
        and the Indian Military Academy, Dehradun.
    </p>
    <p>
        2. He has a vast experience in operations across the length and breadth of
        the country and abroad including as the UN Military Observer at its mission
        at Angola. The first officer to be commissioned into the specialized 16
        Engineer Bridge Regiment, he commanded the same Unit during Operation
        Parakram. He also commanded an Engineer Brigade in the desert terrain, an
        Infantry Brigade in Bandipore district of Kashmir and was later the General
        Officer Commanding of an Infantry Division as part of the Strike Corps.
    </p>
    <p>
        3. Major General Kemparaj’s assignments include instructor at the College
        of Military Engineering and MEG &amp; Centre as well as staff appointments
        dealing with both operations and administration at all levels. He has also
        headed the Investment Division at AGIF during the crucial period
        immediately post the economic recession when he introduced automation and
        industry’s best practices in the Organisation. On being selected for the
        post of Managing Director, AGIF, the Gen Offr opted for premature
        retirement from service on 06 Jan 2019 and assumed the appt of MD, AGIF wef
        07 Jan 2019.
    </p>

    <p>
        4. An accomplished sportsman, he has excelled in horse riding, yachting and
        rowing, having won National Gold medals in each of these disciplines. He is
        a keen golfer and has won numerous club championships.
    </p>
    <p>
        5. He is married to Mrs Rupali Kemparaj who is India Head of Reeds
        Exhibition (Travel) and is based at New Delhi. They have a son, Mr Shreyas
        Kemparaj who is a senior Legal Executive at IBM and a daughter, Ms Ikshita
        Kemparaj is Manager, Corporate Communications at NYU Langon at New York.
    </p>
    </div>
