
@{
    ViewBag.Title = "MedicalBenefitScheme";
    Layout = "~/Views/Shared/_Layoutagi.cshtml";
}

<div class="container" style="background:white;padding:2%;">

    <div id="header">
        <h1 align="center"><span class="style1">Medical Benefit Scheme</span></h1>

    </div>
    <hr />
    <br />
    <table  width="100%" border="0" align="center" cellspacing="0" cellpadding="12">
        <tr>
            <td height="120" colspan="6" valign="top" width="894" align="justify">
                <u>
                    <strong>
                        <a name="medical benefit scheme" id="medical benefit scheme">
                            <font size="3" color="black"><BR><B>Medical Benefit Scheme</B></font>
                        </a>
                    </strong>
                </u><br />
                <br />
                <div align="justify">
                    6. 	&nbsp;&nbsp;&nbsp;&nbsp; This scheme was introduced on 01 Apr 91 with the aim of providing
                    financial assistance for specified high cost surgery/treatment of diseases to Ex-servicemen
                    not available in Military Hospitals. Consequent to implementation of Ex-Servicemen Contributory
                    Health Scheme (ECHS) by the Government, Medical Benefit Scheme (MBS) run by Army Group Insurance
                    Fund has been finally closed on 31 Mar 2006. The one time subscription paid by the members is being
                    efunded to them by the AGIF on receipt of the following documents :-
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="6" valign="top" width="859" class="tabledata">
                <BR>
                <blockquote>
                    <p>(a) &nbsp;&nbsp;&nbsp;&nbsp; Original MBS card including supplementary card if any issued by Army Group Insurance Fund.</p>
                    <p>(b) &nbsp;&nbsp;&nbsp;&nbsp; Details of Bank Account Number and address of Bank.</p>
                    <p>(c) &nbsp;&nbsp;&nbsp;&nbsp; Present address of member.</p>
                </blockquote>
            </td>
        </tr>
       
        <tr>
            <td height="25" colspan="6" valign="top" width="894">7. &nbsp;&nbsp;&nbsp;&nbsp; <font size="3" color="black"><B><u> Common errors noticed     in processing Medical Benefit Scheme (MBS) are as given below </u></B>:- </font></td>
        </tr>
        <tr>

            <td colspan="6" valign="top" width="859" class="tabledata">
                <p>(a) &nbsp;&nbsp;&nbsp;&nbsp;Not forwarding original MBS certificate.</p>
                <p>(b) &nbsp;&nbsp;&nbsp;&nbsp;Not forwarding bank details and latest postal address.</p>
                <p>(c) &nbsp;&nbsp;&nbsp;&nbsp;Forwarding EI Cert in place of MBS Certificate.</p>
                <p> (d) &nbsp;&nbsp;&nbsp;&nbsp;Claiming money for treatment done after 01 Apr 2003.</p>
                <p> (e) &nbsp;&nbsp;&nbsp;&nbsp;Claiming for treatment done in hospitals which were not empanelled and at times for hospitals in foreign countries. </p>
            </td>
        </tr>

    </table>
</div>
