
@{
    ViewBag.Title = "SocialSecurityDepositsScheme";
    Layout = "~/Views/Shared/_Layoutagi.cshtml";
}

<div class="container" style="background:white;padding:2%;">

    <div id="header">
        <h1 align="center"><span class="style1">Social Security Deposits Scheme</span></h1>

    </div>
    <hr />
    <br />
    <table  width="100%" border="0" align="center" cellspacing="0" cellpadding="12">

        <tr>
            <td colspan="6" valign="top" width="894" align="justify">
                <BR>
                <div align="justify">
                    <p>
                        <strong>
                            <u>
                                <a name="social security deposits (ssd) scheme" id="social security deposits (ssd) scheme">
                                    <font size="3" color="black"><B>Social Security Deposits (SSD) Scheme</B></font>
                                </a>
                            </u>
                        </strong>
                    </p><BR>
                    <p>
                        8. &nbsp;&nbsp;&nbsp;&nbsp;SSD Scheme was introduced in Nov 1978 with the aim of safeguarding the interest of
                        widows and minor children and ensure security of their deposits.&nbsp;
                    </p><BR>

                    <p>
                        9. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Under the scheme, AGIF benefits of widows or minor children of deceased
                        personnel are invested by the AGIF in Nationalised Banks in cumulative or non-cumulative deposits to the extent
                        of amount and period stipulated by the member in his nomination.  Widow can also opt for the scheme at the time
                        of disbursement of benefits if the husband has not specified in the Nomination form.&nbsp;
                    </p><BR>

                    <p>
                        10.&nbsp;&nbsp;&nbsp;&nbsp;For minor children, the amount is invested till they attain the age of
                        majority with quarterly interest payable to legal guardian, if required and in case of widows for a period of
                        one to five years, as indicated by the member in the Nomination form or opted by the widow.
                    </p><BR>

                    <p> 11. &nbsp;&nbsp;&nbsp;&nbsp; <font size="3" color="black"><B><u>Problems being faced are as under</u></B> :-&nbsp;</font> </p>

        
        <tr>

            <td colspan="6" valign="top" width="859" class="tabledata">
                <p>(a) &nbsp;&nbsp;&nbsp;&nbsp;Money is being invested in cumulative FD due to non receipt of account details from 	beneficiaries.</p>
                <p>(b) &nbsp;&nbsp;&nbsp;&nbsp;Contact details of the beneficiaries reqd to be updated reg for correct and fast communication.</p>
                <p>(c) &nbsp;&nbsp;&nbsp;&nbsp;Submission of Form 15G/15H is reqd every year, TDs will be deducted in case of pending 	receipt.</p>
                <p> (d) &nbsp;&nbsp;&nbsp;&nbsp;Single acct details for final payment of children on attaining 18 yrs of age are not recd timely.</p>
                <p> (e) &nbsp;&nbsp;&nbsp;&nbsp;Payment to widow is delayed due to non receipt of Form 15G. </p>
            </td>
        </tr>
    </table>
    </div>
