
@{
    ViewBag.Title = "SustenanceAllowancetoDifferentlyAbledChildren";
    Layout = "~/Views/Shared/_Layoutagi.cshtml";
}

<div class="container" style="background:white;padding:2%;">

    <div id="header">
        <h1 align="center"><span class="style1">Sustenance Allowance to Differently Abled Children</span></h1>
    
    </div>
    <hr />
    <br />
    <tr>
        <td height="113" colspan="6">
            <div align="justify">
                <u>
                    <b>
                        <a name="sustenance allowance to differently abled children" id="sustenance allowance to differently abled children">

                            <font size="3" color="black">Sustenance Allowance to Differently Abled Children</font>
                        </a><br />
                    </b>
                </u><br />
                29
                . &nbsp;&nbsp;&nbsp;&nbsp;With effect from 27 Oct 2007, Board of Governors has approved to establish
                a corpus fund in order to give a sustenance allowance of <font face="Rupee Foradian" size="2"></font> &#x20B9; 2000/- per month to
                a differently abled child whose Army parent dies while in service. As per the
                scheme details, the eligible child should be suffering from autistic spectrum
                disorders, cerebral palsy, mental
                retardation or a combination of any two or more of the following disabilities:-
            </div>
        </td>

    </tr>
    <tr>

        <td colspan="6" class="tabledata">

            <blockquote>
                <p>(a) &nbsp;&nbsp;&nbsp;Blindness. </p>
                <p>
                    <br />
                    (b) &nbsp;&nbsp;&nbsp;Low Vision.
                </p>

                <p>
                    <br />
                    (c) &nbsp;&nbsp;&nbsp;Leprosy-cured.
                </p>

                <p>
                    <br />
                    (d) &nbsp;&nbsp;&nbsp;Hearing Impairment.
                </p>
                <p>
                    <br />
                    (e) &nbsp;&nbsp;&nbsp;Locomotor Disability.
                </p>

                <p>
                    <br />
                    (f) &nbsp;&nbsp;&nbsp;Mental illness.
                </p>

            </blockquote>
        </td>
    </tr>
    <tr>
        <td colspan="6"><div align="right">@*<b><a href="#benefits while in service" class="style6" style="text-decoration: none">TOP</a></b>*@</div></td>

    </tr>
    <tr>
        <td height="28" colspan="6">
            30. &nbsp;&nbsp;&nbsp;&nbsp;The other eligibility
            conditions are :-
        </td>

    </tr>
    <tr>
        <td colspan="6" class="tabledata">
            <blockquote>

                <p>
                    (a) &nbsp;&nbsp;&nbsp;The extent of
                    disability must not be less than 40 per cent of any disability as certified
                    by a medical authority.
                </p>
                <p>
                    <br />
                    (b) &nbsp;&nbsp;&nbsp;The child must be unable to earn a living.
                </p>

                <p>
                    <br />
                    (c) &nbsp;&nbsp;&nbsp;The disability of the child should manifest itself before the death of
                    the service personnel while in service.
                </p>

                <p>
                    <br />
                    (d) &nbsp;&nbsp;&nbsp;The parent of the handicapped child should have died while on active
                    service.
                </p>
                <p>
                    <br />
                    (e) &nbsp;&nbsp;&nbsp;The following cases will not be eligible :-
                </p>

            </blockquote>
        </td>
    </tr>

    <tr>
        <td colspan="6" class="tabledata2">
            <blockquote>
                <blockquote>
                    <p>
                        (i) &nbsp;&nbsp;&nbsp;Handicapped children of serving members who have died prior to the
                        scheme coming into effect.
                    </p>

                    <p>
                        <br />
                        (ii) &nbsp;&nbsp;&nbsp;Retired personnel who have died leaving behind handicapped children.
                    </p>

                    <p>
                        <br />
                        (iii) &nbsp;&nbsp;&nbsp;Handicapped children of all serving and retired personnel.
                    </p>
                </blockquote>
            </blockquote>
        </td>

    </tr>

    <tr>

        <td height="169" colspan="6">
            <div align="justify">
                <BR>
                31.&nbsp;&nbsp;&nbsp;&nbsp;The sustenance
                allowance is given only to those children whose parent had died while in service on or after 27 Oct 2007 and is not applicable if the parent's death had occurred prior to 27 Oct 2007. In case the differently abled child dies subsequently, the payment would be continued to next severely handicapped child who meets the above conditions of the deceased soldier, if any. If no such child is there, the payment would be stopped by AGIF from the following month in which the child dies. The money will be remitted to the child through the guardian if he or she were a minor. <br />
                <br />
                32.&nbsp;&nbsp;&nbsp;&nbsp;The Board of Governers of AGIF during its 60th meeting held on 07 Dec 2011 has reviewed the Sustenance Allowance existing Scheme. Monthly payment per child under the existing Sustenance Allowance Scheme has been increased from <font face="Rupee Foradian" size="2"></font>&#x20B9; 2000/- to <font face="Rupee Foradian" size="2"></font>&#x20B9; 4000/- per child. The scheme is now extended up to two differently abled children of AGIF Members who have died in harness wef 27 Oct 2011. Disability percentage and all other terms and conditions as applicable to the first child are applicable to the second child also. The existing beneficiaries will get the sustenance allowance on the revised rate wef 01 Apr 2012. There is no change to other terms and conditions for grant of sustenance allowance as specified vide AGIF letter No A/56271/R/AG/Ins(Coord) dated 26 Dec 2007. <br />

                <br />
                33.&nbsp;&nbsp;&nbsp;&nbsp;Documents required for obtaining sustenance allowance are as follows:-
            </div>
        </td>
    </tr>
    <tr>

        <td colspan="6" class="tabledata">
            <blockquote>
                <p>(a) &nbsp;&nbsp;&nbsp;Appllication for claiming alice as per Appx 'A' to AGI letter No <a href="~/_forms/Sustenance_Allce_letter_dt_26_Dec_2007.pdf" target="_blank" title="Click Here To Get Army Order File"><B>A/57271/R/AGI/Ins (Coord) dt 26 Dec 2007</B></a>.</p>

                <p>(b) &nbsp;&nbsp;&nbsp;Non-earning cert duly signed by Secy, DSSB is att.</p>
                <p> (c) &nbsp;&nbsp;&nbsp;Med Cert of diability duly signed by med bd consisting of three Med Offrs indicating percentage of disability.</p>
                <p> (d) &nbsp;&nbsp;&nbsp;Pt II Order of birth of child is att (Kinred Roll portion att) former service.</p>
                <p> (e) &nbsp;&nbsp;&nbsp;Pt II Order for dis child is att (Photocopy of kinred Roll portion att).</p>

                <p> (f) &nbsp;&nbsp;&nbsp;Pt II Order of death of serving pers ia att.</p>
                <p>(g) &nbsp;&nbsp;&nbsp;Whether Bank details of Natural/ legal quardian completed (not applicable for NDG). </p>
                <p>(h) &nbsp;&nbsp;&nbsp;Cert from CO, parent unit in case Pt II order for different abled child pub after death of his father. </p>
            </blockquote>
        </td>

    </tr>
</div>

