
@{
    ViewBag.Title = "BafterR";
    Layout = "~/Views/Shared/_Layoutagi.cshtml";
}
<style>
    font{
        font-size:18px;
    }
</style>
<div class="container" style="background:white;padding:2%;">
    <div id="wrap">

        <div id="header">
            <h1 align="center"><span class="style1" style="color:black;font-size:35px;">BENEFITS AFTER RETIREMENT</span></h1>

          


        </div>



        <div class="style4" id="contentt">


            <table style="width:100%; text-align:center;">
                <tr>
                    <td>
                        <a href="#insurance cover after retirement under extended insurance (ei) scheme">
                            <font size="4" color="brown"><B>Extended Insurance (EI) Scheme</B></font>
                        </a>
                    </td>
                    <td>
                        <a href="#medical benefit scheme"><font size="4"><B>&nbsp;&nbsp;&nbsp;&nbsp;Medical  Benefit Scheme</B></font></a>
                    </td>
                    <td>
                        <a href="#social security deposits (ssd) scheme"><font size="4" color="red"><B>&nbsp;&nbsp;&nbsp;&nbsp; Social Security Deposits (SSD) Scheme</B></font></a>
                    </td>
                    <hr />
                    </td>
                </tr>
            </table>
            <hr />
            <table width="100%" border="0" align="center" cellspacing="0" cellpadding="12">
                <tr>
                    <td height="140" colspan="6" valign="top" width="894" align="Justify">
                        <BR>
                        <u>
                            <a name="insurance cover after retirement under extended insurance (ei) scheme" id="insurance cover after retirement under extended insurance (ei) scheme">
                                <font size="2" color="black"><B>Insurance Cover After Retirement under Extended Insurance (EI) Scheme</B></font>
                            </a><br />
                        </u><br />
                        <div align="justify">
                            1. &nbsp;&nbsp;&nbsp;&nbsp;Compulsory group EI Scheme was introduced in 1981 with the aim of providing Life Insurance Cover without any
                            maturity benefit to retiring Army personnel up to a specified period and amount by charging one time non refundable subscription. The scheme provides
                            the specified amount of cover to the NOK in case of death of the member within the period of cover, as given in the certificate issued to each member.
                            It is a term insurance scheme and does not have any saving/surviving benefit. However, members joining the scheme wef 31 Jul 2010 will be eligible for
                            survival benefits. The scheme has undergone     periodic reviews and the current ongoing schemes are as given below :-
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="7" class="tabledata2">
                        <BR>
                        <table width="100%" border="1" align="left" cellspacing="0" cellpadding="5">
                            <tr>
                                <td width="199" rowspan="2" valign="top"><font size="2" color="black"><strong>Date of Joining Scheme</strong></font></td>
                                <td valign="top" width="197" colspan="2"><div align="center"><font size="2" color="black"><strong>Insurance Amount </strong></div></td>
                                <td width="557" rowspan="2" valign="top" align="center"><font size="2" color="black"><strong>Validity </strong></td>
                            </tr>
                            <tr>
                                <td width="84" valign="top"><div align="center"><font size="2" color="black"><strong>Officers&nbsp; </strong></div></td>
                                <td width="109" valign="top"><div align="center"><font size="2" color="black"><strong>JCOs &amp; OR </strong><font size="2" color="black"></u> </div></td>
                            </tr>
                            <tr>
                                <td valign="top" width="199">01 Apr 94 – 30 Jun 99</td>
                                <td valign="top" width="84"><div align="center"><p align="center"><font face="Rupee Foradian" size="2">` 2 lac</p></div></td>
                                <td valign="top" width="109"><div align="center">	<p align="center"><font face="Rupee Foradian" size="2">` 1 lac</p></div></td>
                                <td valign="top" width="407">
                                    20 years after retirement or 70 years of age whichever is earlier (one time lump sum subscription
                                    is Non Refundable)
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" width="199">01 Jul 99 – 30 Dec 04</td>
                                <td valign="top" width="84"><div align="center"><p align="center"><font face="Rupee Foradian" size="2">` 3 lac</p></div></td>
                                <td valign="top" width="109"><div align="center"><p align="center">&nbsp;&nbsp;<font face="Rupee Foradian" size="2">` 1.5 lac</p></div></td>
                                <td valign="top" width="407">20 years after retirement or 72 years of age whichever is earlier (one time lump sum subscription is Non Refundable).</td>
                            </tr>
                            <tr>
                                <td valign="top" width="199">31 Dec 04 – 29 Jun 09 </td>
                                <td valign="top" width="84"><div align="center"><p align="center"><font face="Rupee Foradian" size="2">` 4 lac </p></div></td>
                                <td valign="top" width="109"><div align="center"> <p align="center"><font face="Rupee Foradian" size="2">`  2 lac </p></div></td>
                                <td valign="top" width="407">26 years after retirement or 75 years of age whichever is earlier (one time lump sum subscription is Non Refundable).</td>
                            </tr>
                            <tr>
                                <td valign="top" width="199">30 Jun 09 - 31 Jul 10 </td>
                                <td valign="top" width="84"><div align="center"><p align="center"><font face="Rupee Foradian" size="2">`  6 lac </p></div></td>
                                <td valign="top" width="109"><div align="center"><p align="center"><font face="Rupee Foradian" size="2">` 3 lac </p></div></td>
                                <td valign="top" width="407">&nbsp;26 years after retirement or 75 years of age whichever is earlier (one time lump sum subscription is Non Refundable). </td>
                            </tr>
                            <tr>
                                <td valign="top" width="199">3 Jul 10 - 30 Dec 13 </td>
                                <td valign="top" width="84"><div align="center"><p align="center"><font face="Rupee Foradian" size="2">`  6 lac </p></div></td>
                                <td valign="top" width="109"><div align="center"><p align="center"><font face="Rupee Foradian" size="2">` 3 lac </p></div></td>
                                <td valign="top" width="407">&nbsp;26 years after retirement or 75 years of age whichever is earlier (one time lump sum subscription is Refundable). </td>
                            </tr>
                            <tr>
                                <td valign="top" width="199">31 Dec 13 - 31 Dec 14</td>
                                <td valign="top" width="84"><div align="center"><p align="center"><font face="Rupee Foradian" size="2">` 10 lac </p></div></td>
                                <td valign="top" width="109"><div align="center">	<p align="center"><font face="Rupee Foradian" size="2">` 5 lac </p></div></td>
                                <td valign="top" width="407">&nbsp;26 years after retirement or 75 years of age whichever is earlier (one time lump sum subscription is Refundable). </td>
                            </tr>

                            <tr>
                                <td valign="top" width="199">01 Jan 2015 - 31 Mar 17 </td>
                                <td valign="top" width="84"><div align="center"><p align="center"><font face="Rupee Foradian" size="2">` 10 lac </p></div></td>
                                <td valign="top" width="109"><div align="center">	<p align="center"><font face="Rupee Foradian" size="2">`  5 lac </p></div></td>
                                <td valign="top" width="407">&nbsp;30 years after retirement or 80 years of age whichever is earlier (one time lump sum subscription is Refundable). </td>
                            </tr>
                            <tr>
                                <td valign="top" width="199">01 Apr 2017 Onwards </td>
                                <td valign="top" width="84"><div align="center"><p align="center"><font face="Rupee Foradian" size="2">` 10 lac </p></div></td>
                                <td valign="top" width="109"><div align="center">	<p align="center"><font face="Rupee Foradian" size="2">`  5 lac </p></div></td>
                                <td valign="top" width="407">
                                    &nbsp;30 years after retirement or 80 years of age whichever is earlier.  Wef 01 Apr 17 one time non-refundable lump sum
                                    subscription of <font face="Rupee Foradian" size="2">` 92,170/-  to <font face="Rupee Foradian" size="2">` 1,09,220/-  in r/o offrs and <font face="Rupee Foradian" size="2">` 49,951/- to <font face="Rupee Foradian" size="2">` 55,291/- in r/o JCOs/OR is charged depending on the age.
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>

                <tr>
                    <td height="28" colspan="6" valign="top" width="894">2. &nbsp;&nbsp;&nbsp;&nbsp; <font size="2" color="black"><b><u>Unique Features of EI Scheme.</u></b></font></td>
                </tr>
                <tr>
                    <td colspan="6" valign="top" width="859" class="tabledata" align="justify">
                        <p>(a) &nbsp;&nbsp;&nbsp;&nbsp; No medical examination is required. Even LMC personnel are covered for the same amount/period, by deduction of the premium.</p>
                        <p> (b) &nbsp;&nbsp;&nbsp;&nbsp; )     High risk category personnel, such as heart, cancer, renal disorder and AIDS patients are also covered without discrimination.</p>
                        <p> (c) &nbsp;&nbsp;&nbsp;&nbsp; Simple procedure for payment of EI Benefits.</p>
                        <p>(d) &nbsp;&nbsp;&nbsp;&nbsp;Nomination procedure exists.</p>
                        </blockquote>
                    </td>
                </tr>

                <tr>
                    <td colspan="6" valign="top" width="894" align="justify">
                        <BR>
                        <div align="justify">
                            3. &nbsp;&nbsp;&nbsp;&nbsp; In case of change in marital status after issue date of Extended Insurance Certificate, the nomination must be reviewed.  Part II Order of new nominee
                            is required to be published by Record Office (NE Section).
                        </div>
                    </td>
                </tr>

                <tr>
                    <td height="27" colspan="6" valign="top" width="894">
                        <p align="left">
                            <BR>
                            4. &nbsp;&nbsp;&nbsp;&nbsp; <font size="2" color="black"><b><u>Procedure for Claiming of EI Benefits. The following docu are required to be forwarded by NOK</u>  :-</b></font>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td colspan="6" valign="top" width="859" class="tabledata" align="justify">
                        <BR>

                        <p>(a) &nbsp;&nbsp;&nbsp;&nbsp; EI cert in original duly signed by the beneficiary.</p>
                        <p>(b) &nbsp;&nbsp;&nbsp;&nbsp;Affidavit and Indemnity Bond in case of loss of original EI certificate<span class="style5">. [</span><font color="#0000ff"><a href="~/_forms/Affidavit_for_Duplicate_Extended_Insurance_Certificate.pdf" target="_blank"> Click here to download Affidavit for Duplicate EI Certificate </a></font><span class="style5">]</span> <span class="style5">[</span><font color="#0000ff"><a href="~/_forms/Indemnity_Bond_for_loss_of_Extended_Insurance_Certificate.pdf" target="_blank"> Click here to download Indemnity Bond </a></font><span class="style5">]</span></p>
                        <p>(c) &nbsp;&nbsp;&nbsp;&nbsp;Death Certificate. <span class="style5">[</span><font color="#0000ff"><a href="~/_forms/Death_certificate_for_Insurance_and_Extended_Insurance_Bene.pdf" target="_blank">Click here to download Form</a></font><span class="style5">]</span></p>
                        <p>(d) &nbsp;&nbsp;&nbsp;&nbsp;Affidavit to claim EI benefit. <span class="style5">[</span><font color="#0000ff"><a href="~/_forms/Affidavit_for_use_of_Widow_and_Other_than_Widow_for_Insuranc.pdf" target="_blank">Click here to download Form</a></font><span class="style5">]</span></p>
                        <p>(e) &nbsp;&nbsp;&nbsp;&nbsp;Indemnity bond from the beneficiary (Widows are exempted). <span class="style5">[</span><font color="#0000ff"><a href="~/_forms/Indemnity_Bond_with_one_Sureity_for_Insurance_and_Extended_I.pdf" target="_blank">Click here to download Form</a></font><span class="style5">]</span></p>
                        <p>(f) &nbsp;&nbsp;&nbsp;&nbsp;Bank details along with IFS Code for Electronic transfer of dues. <span class="style5">[</span><font color="#0000ff"><a href="~/_forms/Details_of_Saving_Bank_account_for_Insurance_and_Extended_Insura.pdf" target="_blank">Click here to download Form</a></font><span class="style5">]</span></p>
                        <p>(g) &nbsp;&nbsp;&nbsp;&nbsp;Family details. <span class="style5">[</span><font color="#0000ff"><a href="~/_forms/Family_Details_for_Insurance_and_Extended_Insurance_Benefit.pdf" target="_blank">Click here to download Form</a></font><span class="style5">]</span></p>
                        <p>(h) &nbsp;&nbsp;&nbsp;&nbsp;Consent certificate. <span class="style5">[</span><font color="#0000ff"><a href="~/_forms/Affidavit_for_Consent_Certificate_Required_for_nsurance_and.pdf" target="_blank">Click here to download Form</a></font><span class="style5">]</span></p>
                        <p>(j) &nbsp;&nbsp;&nbsp;&nbsp;Death confirmation and Sheet Roll data from Record Office.</p>

                        </blockquote>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" valign="top" width="811"><div align="right"><strong><a href="#benefitsafterretirement" class="style3">TOP</a></strong></div></td>
                </tr>
                <tr>
                    <td height="27" colspan="6" valign="top" width="894">5. &nbsp;&nbsp;&nbsp;&nbsp;  <font size="2" color="black"><b><u>Common errors noticed     while processing extended insurance claims are as follows</u></b> :- </font></td>
                </tr>
                <tr>
                    <td colspan="6" valign="top" width="859" class="tabledata">
                        <p>(a) &nbsp;&nbsp;&nbsp;&nbsp; Not changing nomination on death of nominee.</p>
                        <p>(b) &nbsp;&nbsp;&nbsp;&nbsp;  Not forwarding Affidavit and Indemnity Bond in case the Original Extended Insurance Certificate has been misplaced/ lost / not traceable.</p>
                        <p>(c) &nbsp;&nbsp;&nbsp;&nbsp;Not attaching Death Certificate.</p>
                        <p>(d) &nbsp;&nbsp;&nbsp;&nbsp;Incomplete family details.</p>
                        <p>(e) &nbsp;&nbsp;&nbsp;&nbsp;Forwarding IFSC Code of Bank and cancelled cheque is recommended for       early payment.</p>
                        <p> (f) &nbsp;&nbsp;&nbsp;&nbsp;Hiding of info in case member re-employed in Central Govt Department.</p>
                    </td>
                </tr>

                <tr>
                    <td height="120" colspan="6" valign="top" width="894" align="justify">
                        <u>
                            <strong>
                                <a name="medical benefit scheme" id="medical benefit scheme">
                                    <font size="2" color="black"><BR><B>Medical Benefit Scheme</B></font>
                                </a>
                            </strong>
                        </u><br />
                        <br />
                        <div align="justify">
                            6. 	&nbsp;&nbsp;&nbsp;&nbsp; This scheme was introduced on 01 Apr 91 with the aim of providing
                            financial assistance for specified high cost surgery/treatment of diseases to Ex-servicemen
                            not available in Military Hospitals. Consequent to implementation of Ex-Servicemen Contributory
                            Health Scheme (ECHS) by the Government, Medical Benefit Scheme (MBS) run by Army Group Insurance
                            Fund has been finally closed on 31 Mar 2006. The one time subscription paid by the members is being
                            efunded to them by the AGIF on receipt of the following documents :-
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" valign="top" width="859" class="tabledata">
                        <BR>
                        <blockquote>
                            <p>(a) &nbsp;&nbsp;&nbsp;&nbsp;) Original MBS card including supplementary card if any issued by Army Group Insurance Fund.</p>
                            <p>(b) &nbsp;&nbsp;&nbsp;&nbsp; Details of Bank Account Number and address of Bank.</p>
                            <p>(c) &nbsp;&nbsp;&nbsp;&nbsp;Present address of member.</p>
                        </blockquote>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" valign="top" width="811"><div align="right"><strong><a href="#benefitsafterretirement" class="style3">TOP</a></strong></div></td>
                </tr>
                <tr>
                    <td height="25" colspan="6" valign="top" width="894">7. &nbsp;&nbsp;&nbsp;&nbsp; <font size="2" color="black"><B><u> Common errors noticed     in processing Medical Benefit Scheme (MBS) are as given below </u></B>:- </font></td>
                </tr>
                <tr>

                    <td colspan="6" valign="top" width="859" class="tabledata">
                        <p>(a) &nbsp;&nbsp;&nbsp;&nbsp;Not forwarding original MBS certificate.</p>
                        <p>(b) &nbsp;&nbsp;&nbsp;&nbsp;Not forwarding bank details and latest postal address.</p>
                        <p>(c) &nbsp;&nbsp;&nbsp;&nbsp;Forwarding EI Cert in place of MBS Certificate.</p>
                        <p> (d) &nbsp;&nbsp;&nbsp;&nbsp;Claiming money for treatment done after 01 Apr 2003.</p>
                        <p> (e) &nbsp;&nbsp;&nbsp;&nbsp;Claiming for treatment done in hospitals which were not empanelled and at times for hospitals in foreign countries. </p>
                    </td>
                </tr>

                <tr>
                    <td colspan="6" valign="top" width="894" align="justify">
                        <BR>
                        <div align="justify">
                            <p>
                                <strong>
                                    <u>
                                        <a name="social security deposits (ssd) scheme" id="social security deposits (ssd) scheme">
                                            <font size="2" color="black"><B>Social Security Deposits (SSD) Scheme</B></font>
                                        </a>
                                    </u>
                                </strong>
                            </p><BR>
                            <p>
                                8. &nbsp;&nbsp;&nbsp;&nbsp;SSD Scheme was introduced in Nov 1978 with the aim of safeguarding the interest of
                                widows and minor children and ensure security of their deposits.&nbsp;
                            </p><BR>

                            <p>
                                9. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Under the scheme, AGIF benefits of widows or minor children of deceased
                                personnel are invested by the AGIF in Nationalised Banks in cumulative or non-cumulative deposits to the extent
                                of amount and period stipulated by the member in his nomination.  Widow can also opt for the scheme at the time
                                of disbursement of benefits if the husband has not specified in the Nomination form.&nbsp;
                            </p><BR>

                            <p>
                                10.&nbsp;&nbsp;&nbsp;&nbsp;For minor children, the amount is invested till they attain the age of
                                majority with quarterly interest payable to legal guardian, if required and in case of widows for a period of
                                one to five years, as indicated by the member in the Nomination form or opted by the widow.
                            </p><BR>

                            <p> 11. &nbsp;&nbsp;&nbsp;&nbsp; <font size="2" color="black"><B><u>Problems being faced are as under</u></B> :-&nbsp;</font> </p>

                <tr>
                    <td colspan="6" valign="top" width="811"><div align="right"><strong><a href="#benefitsafterretirement" class="style3">TOP</a></strong></div></td>
                </tr>
                <tr>

                    <td colspan="6" valign="top" width="859" class="tabledata">
                        <p>(a) &nbsp;&nbsp;&nbsp;&nbsp;Money is being invested in cumulative FD due to non receipt of account details from 	beneficiaries.</p>
                        <p>(b) &nbsp;&nbsp;&nbsp;&nbsp;Contact details of the beneficiaries reqd to be updated reg for correct and fast communication.</p>
                        <p>(c) &nbsp;&nbsp;&nbsp;&nbsp;Submission of Form 15G/15H is reqd every year, TDs will be deducted in case of pending 	receipt.</p>
                        <p> (d) &nbsp;&nbsp;&nbsp;&nbsp;Single acct details for final payment of children on attaining 18 yrs of age are not recd timely.</p>
                        <p> (e) &nbsp;&nbsp;&nbsp;&nbsp;Payment to widow is delayed due to non receipt of Form 15G. </p>
                    </td>
                </tr>
        </div>
        </td>
        </tr>
        </table>
        <p align="center">&nbsp;</p>
        <p align="right"><strong><a href="#benefitsafterretirement" class="style3">TOP</a></strong></p>
        <div style="clear:both;"> </div>
    </div>
    <div id="bottom"> </div>
    <div id="footer">Copyright &copy; AGI. All Rights   Reserved</div>

</div>

</div>

