
@{
                /**/

                ViewBag.Title = "ContactUs";
                Layout = "~/Views/Shared/_Layoutagi.cshtml";
}



    <style type="text/css">
      
           
       
        <!--
        .style1 {
            font-family: Verdana, Arial, Helvetica, sans-serif
        }

        .style3 {
            color: #0000FF
        }

        .style4 {
            font-size: 18px
        }
        -->
    </style>

    <div id="wrap" class="container" style="background:white;">
        <div class="row" style="padding:5%;">
            <div id="top"> </div>
            <div>
                <p align="center">
                    <strong><u>THE ARMY GROUP INSURANCE FUND</u></strong>
                </p>
                <p align="center">
                    <strong><u>HELP LINE</u></strong>
                    <a href="http://portal.army.mil/agbranch/agi_web/index.html" target="_self">
                    </a>
                    <strong><u></u></strong>
                </p>
                <table border="1" cellpadding="0" align="left" width="100%">
                    <tbody>
                        <tr>
                            <td width="43" valign="top">
                                <p>
                                    1.
                                </p>
                            </td>
                            <td width="332" colspan="3" valign="top">
                                <p style="font-weight:bold;">
                                    AGIF Exchange No
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011 – 26142749, 26145058 &amp; 26151031
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top">
                                <p>
                                    2.
                                </p>
                            </td>
                            <td width="597" colspan="4" valign="top">
                                <p style="font-weight:bold;">
                                    For any clarifications, the following Officers may be
                                    contacted :-
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top">
                                <p>
                                    (a)
                                </p>
                            </td>
                            <td width="564" colspan="3" valign="top">
                                <p>
                                    <strong><u>Claims</u></strong>
                                    (Clarifications related to Insurance and Maturity Claims)
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="299" colspan="2" valign="top">
                                <p>
                                    (i) <strong><u>Director, Claims</u></strong>
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011- 26145709, 39813 (ASCON No)
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="299" colspan="2" valign="top">
                                <p>
                                    (ii) <strong><u>Joint Director</u></strong>.
                                </p>
                            </td>
                            <td width="262" valign="top"></td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="27" valign="top"></td>
                            <td width="270" valign="top">
                                <p>
                                    (ab) Insurance Claims (Officers)
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011 - 26142897
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="27" valign="top"></td>
                            <td width="270" valign="top">
                                <p>
                                    (aa) Insurance Claims (PBOR)
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011 - 26154139
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="299" colspan="2" valign="top">
                                <p>
                                    (iii) <strong><u>Suptd </u></strong>                    <strong><u>Offrs Sec</u></strong> (Extended Insurance,
                                    Maturity &amp; 50 % Maturity Withdrawal)
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011-26147230
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="299" colspan="2" valign="top">
                                <p style="font-weight:bold;">
                                    (iv)) <u>Claims Enquiry</u>
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011- 26144837
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="299" colspan="2" valign="top"></td>
                            <td width="262" valign="top"></td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top">
                                <p>
                                    (b)
                                </p>
                            </td>
                            <td width="564" colspan="3" valign="top">
                                <p>
                                    <strong><u>Loans</u></strong>
                                    (Clarifications related to loans on HBA, Conveyance Adv and
                                    PCA)
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="299" colspan="2" valign="top">
                                <p>
                                    (i) <strong><u>Director Loans</u></strong>
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011 - 26154879, 39274 (ASCON No)
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="564" colspan="3" valign="top">
                                <p>
                                    (ii) <strong><u>Joint Director</u></strong>.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="27" valign="top"></td>
                            <td width="270" valign="top">
                                <p>
                                    (aa) House Building Advance (Officers)
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011 - 26148944
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="27" valign="top"></td>
                            <td width="270" valign="top">
                                <p>
                                    (ab) House Building Advance (PBOR)
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011 - 26147651
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="27" valign="top"></td>
                            <td width="270" valign="top">
                                <p>
                                    (ac) Conveyance Advance : Offr &amp; PBOR (Motor Cycle
                                    &amp; Car)
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011 - 26140448
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="27" valign="top"></td>
                            <td width="270" valign="top">
                                <p>
                                    (ad) Help Line Desk (House Building Advance, Personal
                                    Computer Advance, Car &amp; Motor Cycle only)
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011-26148654, 26148055,26143393, 26143693 &amp; 7290090487
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="27" valign="top"></td>
                            <td width="270" valign="top">
                                <p>
                                    (ae) Supdt Help Desk
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    7290090480 &amp; 7290090478
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="27" valign="top"></td>
                            <td width="270" valign="top"></td>
                            <td width="262" valign="top"></td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top">
                                <p>
                                    (c)
                                </p>
                            </td>
                            <td width="299" colspan="2" valign="top">
                                <p style="font-weight:bold;">
                                    <u> Director Finance</u>
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011-26149813
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top">
                                <p>
                                    (d)
                                </p>
                            </td>
                            <td width="299" colspan="2" valign="top">
                                <p style="font-weight:bold;">
                                    <u> Jt Dir Finance</u>
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011-26142981
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top">
                                <p>
                                    (e)
                                </p>
                            </td>
                            <td width="299" colspan="2" valign="top">
                                <p style="font-weight:bold;">
                                    <u> Director Investments</u>
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011-26149674
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top">
                                <p>
                                    (f)
                                </p>
                            </td>
                            <td width="299" colspan="2" valign="top">
                                <p>
                                    <strong><u>Policy and Coord</u></strong>
                                    . Director, Coord
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011- 26142369, 34439 (ASCON No)
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top">
                                <p>
                                    (g)
                                </p>
                            </td>
                            <td width="299" colspan="2" valign="top">
                                <p>
                                    <strong>
                                        <u>
                                            Supdt Social Security Deposit Scheme (SSD) : Offrs
                                            &amp; PBOR
                                        </u>
                                    </strong>
                                    <strong><u></u></strong>
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011-26151391
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="27" valign="top"></td>
                            <td width="270" valign="top"></td>
                            <td width="262" valign="top"></td>
                        </tr>
                        <tr>
                            <td width="43" valign="top">
                                <p>
                                    3.
                                </p>
                            </td>
                            <td width="332" colspan="3" valign="top">
                                <p style="font-weight:bold;">
                                    Managing Director (MD)
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011-26143757, 39055 (ASCON No)
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top">
                                <p>
                                    4.
                                </p>
                            </td>
                            <td width="332" colspan="3" valign="top">
                                <p style="font-weight:bold;">
                                    Principal Director Adm &amp; Secy
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011-26145674, 39273 (ASCON No)
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top">
                                <p>
                                    5.
                                </p>
                            </td>
                            <td width="332" colspan="3" valign="top">
                                <p style="font-weight:bold;">
                                    DDG Investments
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011-26147465
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="377" colspan="4" valign="top">
                                <p>
                                    6. <strong><u>Postal Address</u></strong>.
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    Army Group Insurance Fund
                                    <br />
                                    AGI Bhawan, Rao Tula Ram Marg Post Bag No 14, PO-Vasant
                                    Vihar New Delhi – 110057
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="27" valign="top"></td>
                            <td width="270" valign="top"></td>
                            <td width="262" valign="top"></td>
                        </tr>
                        <tr>
                            <td width="377" colspan="4" valign="top">
                                <p>
                                    7. <strong><u>FAX</u></strong>.
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    011 - 26148471
                                </p>
                                <p>
                                    011 – 26140343 (For loans).
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="43" valign="top"></td>
                            <td width="31" valign="top"></td>
                            <td width="27" valign="top"></td>
                            <td width="270" valign="top"></td>
                            <td width="262" valign="top"></td>
                        </tr>
                        <tr>
                            <td width="377" colspan="4" valign="top">
                                <p>
                                    8. <strong><u>e-Mail</u></strong>.
                                </p>
                            </td>
                            <td width="262" valign="top">
                                <p>
                                    <strong>
                                        <span >adagif@gmail.com</span>
                                    </strong>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h1></h1>
                <h1></h1>
            </div>
        </div>
    </div>
