
@{
    ViewBag.Title = "HandleAction";
    Layout = "~/Views/Shared/_Layoutagi.cshtml";
}

<div class="container" style="background:white;padding:5%;">
    <p style="color:red;">@ViewBag.result</p>
    <p style="color:red;">@ViewBag.Mess1</p>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label>Enter ArmyNo</label>
            <input type="text" id="armyNo" name="armyNo" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Select Application Type</label>
            <select id="ltype" name="ltype" class="form-control">
                <option value="Car">Car</option>
                <option value="Car/Pc">Car/Pc</option>
            </select>
        </div>
        <div id="result"></div>
        <input type="hidden" id="action" name="action" value="" />
        <button type="button" id="btnUpload" class="btn btn-success" onclick="setAction('upload')">Upload</button>
        <button type="button" id="btnDownload" class="btn btn-success" onclick="setAction('download')">Download</button>
        <button type="button" id="btnStatus" class="btn btn-success" onclick="setAction('status')">Status</button>
    }
</div>

<script>
    function setAction(action) {
        document.getElementById('action').value = action;
        document.forms[0].submit();
    }
</script>
<script>
    $('#btnUpload').click(function () {
        alert("hii");
    });
</script>


@*<script src="~/Content/CustomJS/LoanApplication.js"></script>*@