/**********************************

Use: MasterPageForm1 template

***********************************/
form.MasterPageForm1 fieldset {
	margin-bottom: 10px;
}

form.MasterPageForm1 legend {
	padding: 0 2px;
	font-weight: bold;
	_margin: 0 -7px; 
}

form.MasterPageForm1 label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	cursor: hand;
}

form.MasterPageForm1 fieldset p {
	list-style: none;
	padding: 5px;
	margin: 0;
}

form.MasterPageForm1 fieldset fieldset {
	border: none;
	margin: 3px 0 0;
}

form.MasterPageForm1 fieldset fieldset legend {
	padding: 0 0 5px;
	font-weight: normal;
}

form.MasterPageForm1 fieldset fieldset label {
	display: block;
	width: auto;
}

form.MasterPageForm1 label { width: 100px; } /* Width of labels */
form.MasterPageForm1 fieldset fieldset label { margin-left: 103px; } /* Width plus 3 (html space) */
form.MasterPageForm1 label.error {
	margin-left: 103px;
	/*width: 220px;*/
}

form.MasterPageForm1 input.submit {
	margin-left: 103px;
}

/*\*//*/ form.MasterPageForm1 legend { display: inline-block; } /* IE Mac legend fix */