
@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layoutagi.cshtml";
}
<style>
    font{
        font-size:18px;
    }


    

    
    #wrap {
        width: 970px;
        margin: 0 auto;
    }

    .tabledata {
        float: left;
        width: 880px;
        margin-left: 25px;
        margin-right: 5px;
        line-height: 20px;
    }

    .tabledata2 {
        float: left;
        width: 850px;
        margin-left: 45px;
        line-height: 20px;
    }


    

</style>
<div class="container" style="background:white; padding:5%;">
    
    <div id="wrap">

        <div id="header">
            <h1 align="center"><span class="style1">HOUSE BUILDING ADVANCE</span></h1>

        </div>

        <div id="top"> </div>
        <div id="contentt">
            <hr />
            @*<p align="center">
                <font face="trebuchet ms" size="5">
                    <a name="houseadvance" id="houseadvance">HOUSE BUILDING ADVANCE</a>
                </font>
            </p>*@
            @*<hr />*@
            <p align="center">&nbsp;</p>

            <div align="justify">
                <table width="100%" border="0" align="center" cellspacing="0" cellpadding="12">
                    <tr>
                        <td colspan="3" valign="top">
                            1. <font size="2" color="black"><b><u>HBA </u>:-</b></font>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="tabledata">
                            <table width="100%" border="0" align="left" cellspacing="0" cellpadding="2">
                                <tr>
                                    <td colspan="6" valign="top" class="tabledata">
                                        <p align="justify">
                                            (a) &nbsp;&nbsp;&nbsp; AGIF  provides  adv for  House  Building/  construction/ outright purchase upto a maximum of <font size="2" color="black">
                                                <b>
                                                    Rs 80 lac for offrs, Rs 35 lac for JCOs and Rs 30 lac for OR.
                                                    House loan is given for a maximum period of 20 years. EMI Chart is placed separately on the site.
                                                </b>
                                            </font>
                                        </p>
                                        <p align="justify">(b)&nbsp;&nbsp;&nbsp <font size="2" color="black"><b>Interest rates for offrs and JCOs/OR on House Building Advance has been reduced to 8.15% and 7.15% respectively wef 01 Dec 2017.</b></font> </p>
                                        <p align="justify">
                                            (c) &nbsp;&nbsp;&nbsp <font size="2" color="black">
                                                <b>
                                                    HBA for Repair and Renovation/Addition and Alteration has been increased to Rs 15 lac for Offrs and JCOs/OR with effect from 01 Dec 2017 at 8.40% for Offrs
                                                    and 8.15% for JCOs/OR on monthly rest. The Loan amount is required to be repaid in five years or six months before retirement.
                                                </b>
                                            </font>
                                        </p>

                                    </td>
                                </tr>
                            </table>
                    <tr>
                        <td colspan="3" valign="top">
                            <br>
                            2. Special  provision  exists  for  House  Building  Advance  for  repair/renovation/purchase/construction  for members superannuating in next two years or less for sum equal to a
                            maximum of 90 per cent of maturity amount payable on the date of the application.
                        </td>
                    </tr>
                    </td>
                    </tr>

                    <tr>
                        <td colspan="3" valign="top">
                            <BR>
                            3. <strong><font size="2" color="black"><b><u>Condition</u>. </b></font></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The following conditions are to be fulfilled by the member for grant of house building advance:-
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" valign="top" class="tabledata2">
                            <BR>
                            <table border="0" cellspacing="0" cellpadding="2">
                                <tr>
                                    <td>
                                        <span>(a) Minimun Service - Two years</span>
                                    </td>
                                    @*<td>(a)</td>
                                    <td>&nbsp;&nbsp;&nbsp;Minimum    service</td>
                                    <td>&nbsp;&nbsp;&nbsp;- Two years </td>*@
                                </tr>
                                <tr>
                                    <td>
                                        <span>(b) Maximum loan limit- 85% of basic cost of house, or <b> Rs 80 lac for offrs, Rs 35   lac for JCOs and Rs 30 lac for OR,</b>whichever is less</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td align="justify">
                            <BR>
                            4.&nbsp;&nbsp;&nbsp;&nbsp;  <strong><font size="2" color="black"><u>House Building Advance (HBA) Linked Compulsory Group Insurance Scheme</u>.</font></strong>
                            With effect from         22 Apr 1999 the Army Group Insurance Fund has started a compulsory Insurance Scheme to insure all loans under House Building Advance
                            Linked Compulsory Group Insurance Scheme on a reducing balance. Under this scheme in the unfortunate event of death of loanee, the NOK will not be required to
                            repay the outstanding loan amount and it will be liquidated under the scheme.  All instalments of HBA are also being insured separately wef 01 Jul 2010 for
                            which non-refundable insurance premium is collected from the loanees at the time of disbursement of the instalment.
                        </td>
                    </tr>

                    <tr>
                        <td align="justify">
                            <BR>
                            5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Grant of House Building Advance Facility Short Service Commissioned Officers</u>.</font></strong>
                            &nbsp;&nbsp;&nbsp;With effect from 13 Oct 2006, Short Service Commissioned  &nbsp;Officers,  &nbsp;(including &nbsp;erstwhile  &nbsp; With effect from 13 Oct 2006, Short
                            Service Commissioned  Officers,  (including  erstwhile  Women  Special  Entry  Scheme  officers) who opted to be governed by the provision of Government of India, Ministry
                            of Defence letter Number B/32313/PC/ AG/PS-2(a)/921/D(AG) dated 20 Jul 2006 within a period of six months i.e. from the date of issue of Government letter have been made
                            eligible for house building advance under Army Group Insurance House Building Advance scheme on completion of two years of commissioned service and up to 10 years of initial
                            contractual service.  Special Scheme Commission Officer including the Women Officers who are commissioned under the revised terms and conditions as per aforesaid letter will
                            be eligible for House Building Advance after completion of two years of commissioned service.</p>
                            @*<p align="right"><strong><a href="#houseadvance" class="style2">TOP</a></strong></p>*@
                        </td>
                    </tr>

                    <tr>
                        <td align="justify">
                            <p>
                                6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Actions/Tasks after Sanction of Application</u>.</font></strong> After the HBA application is
                                accepted and sanctioned, payments of instalments will be done by AGIF.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td align="justify">
                            <BR>
                            <p>7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Disbursement Schedule</u>.</font></strong>&nbsp;&nbsp;The disbursement of the instalments will be subject to:-
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <BR>
                            <p align="justify">(a)  &nbsp;&nbsp;&nbsp;&nbsp;Submission of correct and complete documents.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <p align="justify">
                                (b)  &nbsp;&nbsp;&nbsp;&nbsp;Rectification of observations raised by AGIF, if any.

                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <p align="justify">(c)  &nbsp;&nbsp;&nbsp;&nbsp;Receipt of documents minimum two weeks prior to the date of next disbursement.</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="justify">
                            <BR>
                            <p>8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Release of Instalments.</u>.</font></strong>&nbsp;&nbsp;The sanctioned loan will be released in a maximum of  03 to 05 instalments.
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <BR>
                            <p align="justify">(a)  &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><b><u>Self Constructions (Maximum Three Instalments)</u></b></font></font></p>
                        </td>
                    </tr>

                    <tr>
                        <td class="tabledata2" align="justify">
                            <BR>
                            <p align="justify">
                                (i)  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><b><u>1st Instalment</u>.</b></font></strong>&nbsp;&nbsp;&nbsp;&nbsp;	Two-three photographs duly authenticated by a Registered Architect on digital photo
                                paper only. Photos should be taken from a distance of 30-40 meters with a digital camera showing fixed reference point.
                                40% of the sanctioned amount of the loan will be release on plinth level construction.
                            </p>
                            <p align="justify">
                                (ii) &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><b><u>2nd Instalment</u>.</b></font></strong>40% of the sanctioned amount of the loan will be released on construction up to roof level and roof laid. Two-Three photographs including
                                the same ref points are required in the manner as stated above.
                            </p>
                            <p align="justify">
                                (iii) &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><b><u>3rd Instalment</u>.</b></font></strong>20% of the sanctioned amount of the loan will be released on construction work completed up to outer plaster/complete wood work of the house.
                                Two-Three photographs including the same ref points are required in the manner as stated above.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <BR>
                            <p>(b) &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><b><u>Builder/Society/ Housing Board (Maximum  Five Instalments)</u>.</b></font></strong>  &nbsp;&nbsp;Sanctioned loan amount will be released to loanee in the following manner&nbsp; :-</p><BR>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata2">
                            <p align="justify">&nbsp;(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>  1st Instalment	- 	</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plinth level/foundation of project/tower.</p>
                            <p align="justify">&nbsp;(ii)&nbsp;&nbsp; &nbsp; <strong>2nd Instalment	- 	</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1/3 construction of project/tower.</p>
                            <p align="justify">&nbsp;(iii)&nbsp;&nbsp;&nbsp;  <strong>3rd Instalment	- 	</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2/3 construction of project/tower.</p>
                            <p align="justify">&nbsp;(iv)&nbsp;&nbsp;&nbsp; <strong>  4th Instalment	- 	</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Complete structure with external and internal plastering.</p>
                            <p align="justify">(v)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>5th Instalment	- 	</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;On offer of possession letter.</p>

                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <BR>
                            <p>(c) &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><b><u>AWHO/ AFNHB/ Board. (Maximum  Five Instalments)</u></b></font></strong>  &nbsp;&nbsp;Sanctioned loan  will be given to the 	loanee based on demand letter/payment schedule of the agencies.&nbsp; :-</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <BR>
                            <p>(d) &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><b><u>Outright Purchase</u>.</b></font></strong>&nbsp;&nbsp;In case of fully constructed house the loan amount will be treated  and disbursed as one instalment.</p><BR>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <p>
                                (e) &nbsp;&nbsp;&nbsp;&nbsp;Release of initial instalment will be subject to fwd of two-three Digital
                                photographs duly  authenticated by a Registered Architect.  Photos should be taken from a distance of 30-40 meters showing fixed reference point which can be established in the
                                subsequent photos showing progress of construction and required for release of next instalment.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <BR>
                            <p>(f) &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><b><u>Release of subsequent instalments will be subject to submission of the u/m:-</u>.</b></font></strong> </p><BR>
                        </td>
                        <td class="tabledata2">
                            <p align="justify">&nbsp;(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Promissory Note of the previous instalment.</p>
                            <p align="justify">&nbsp;(ii)&nbsp;&nbsp; &nbsp;Builder receipt in original of payment by loanee. (Not in case of Self Construction)</p>
                            <p align="justify">&nbsp;(iii)&nbsp;&nbsp;&nbsp;Photographs duly authenticated by a Registered Architect showing due progress of 	construction from a camera with Reference Points given earlier.</p>
                            @*<p align="right"><strong><a href="#houseadvance" class="style2">TOP</a></strong></p>*@
                        </td>
                    </tr>
                    <tr>
                        <td align="justify">
                            <BR>
                            <p>9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Documents to be submitted on complete disbursal of loan</u>&nbsp;:-</font></strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <BR>
                            <p align="justify">(a)  &nbsp;&nbsp;&nbsp;&nbsp;Sale deed.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <p align="justify">
                                (b)  &nbsp;&nbsp;&nbsp;&nbsp;Insurance cover note for the property acquired.

                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <p align="justify">(c)  &nbsp;&nbsp;&nbsp;&nbsp;Promissory Note and Receipts of the previous (last) instalment.</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="justify">
                            <BR>
                            <p>10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Income Tax Certificates.</u>.</font></strong>&nbsp;&nbsp;IT certificates can be requested for by sending an Email to&nbsp;dir.loan@outlook.com. The following details must be provided in the email:-</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <BR>
                            <p align="justify">(a)  &nbsp;&nbsp;&nbsp;&nbsp;Request for IT cert.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <p align="justify">(b)  &nbsp;&nbsp;&nbsp;&nbsp;Folio no.</p>


                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <p align="justify">(c)  &nbsp;&nbsp;&nbsp;&nbsp;Mobile no.</p>
                        </td>
                    </tr>

                    <tr>
                        <td align="justify">
                            <BR>
                            <p>11.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>MoU Between AGIF and Punjab National Bank</u>&nbsp;:-</font></strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <BR>
                            <p align="justify">
                                (a)  &nbsp;&nbsp;&nbsp;&nbsp;The AGIF HBA is immensely popular because of relative lower rate of Interest and the speed of processing.
                                However, the scheme had certain constraints with regards to the loan value and tenure of loan, resulting in financial inconvenience to the members.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <p align="justify">
                                (b)  &nbsp;&nbsp;&nbsp;&nbsp;In order to meet the aspiration of the environment, a MOU has been signed on 22 Jun 2017 with PNB to overcome
                                the above constraints.  In addition the MOU also offers the interest subventions offered by Pradhan Mantri Awas Yojna (PMAY) to the eligible members.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <p align="justify">(c)  &nbsp;&nbsp;&nbsp;&nbsp;Salient feature of the proposed schemes are as under&nbsp;:-</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata2" align="justify">
                            <BR>
                            <p align="justify">
                                (i)  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><b><u>Scheme-I : PRADHAN MANTRI AWAS YOJNA – URBAN.</u>.</b></font></strong>&nbsp;&nbsp;&nbsp;&nbsp;	This scheme under the 	PMAY would benefit members with a gross annual income
                                less than 18 Lakh owing to the 	financial criteria.  Primary loan in this case will be granted by the Bank and the Top-up loan 	over and above 8/12 lakh will be granted by Bank/AGIF, as per the discretion of the member.
                            </p><BR>
                            <p align="justify">
                                (ii) &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><b><u>Scheme-II: Top up Loan.</u>.</b></font></strong>PNB will provide a top-up loan in case the reqmt of a loanee 	is above the max ceiling limit of loan provided by the AGIF.  Primary
                                loan under the scheme will 	be granted by AGIF and the Top-up loan/additional loan will be granted by the PNB.
                            </p><br>
                            <p align="justify">
                                (iii) &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><b><u>Scheme-III: Loan for upto 20 years irrespective of balance service.</u>.</b></font></strong>All ranks who are left with minimum five/two yrs of residual service (as the case may be)
                                can avail a house loan from AGIF repayable over  20 yrs or upto 70 yrs of age with an understanding that balance of the remaining tenure of the loan would be taken over by Bank six months prior to his superannuation/PMR. The min service eligibility is 05 yrs of residual service
                                for constr linked plan; however for outright purchase, it will be min residual service of 02 yrs only. This is a unique facility being extended to serving soldiers to help avail AGIF loan till retirement/PMR followed by taking over loan by PNB post retirement. The entire loan
                                amount may be sanctioned by AGIF at its existing rate of interest and max amount in vogue as per norms of existing policy as on that day.  The loan tenure would be split in two parts, one with AGIF till the individual release / premature retirement/ superannuation and the balance with PNB.
                                The EMIs would be drawn on the collective tenure (AGIF + Bank) thus ensuing lower EMIs well within the repaying capacity of the loanee.  The EMIs would be redrawn based on the Banks existing policies and rates of interests prevailing at the time of takeover.
                            </p><br>
                        </td>
                    </tr>
                    <tr>
                        <td align="justify">
                            <p>12.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Grant of HBA on Gift Deeds</u>.</font></strong>Gift Deeds are now accepted towards sanction of HBA in conjunction with The Maintenance and Welfare of Parents & Senior Citizens Welfare Act 2007.</p>
                            @*<p align="right"><strong><a href="#houseadvance" class="style2">TOP</a></strong></p>*@
                        </td>
                    </tr>


                    <tr>
                        <td align="justify">
                            <BR>
                            <p>13.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Review of HBA (Delayed Project)</u>&nbsp;:-</font></strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <BR>
                            <p align="justify">
                                (a)  &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Grant of HBA in Case Loanee Withdraws from a Delayed Project</u>.</font></strong>  AGIF member who has been sanctioned and disbursed a loan in part decides to withdraw from a project  due to delays in PDC or proj being under litigation etc are
                                considered as a fresh case for HBA subject to fwg:-
                            </p>
                        </td>
                        <td class="tabledata2" align="justify">
                            <BR>
                            <p align="justify">(i)  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The entire loan amount disbursed earlier alongwith interest is refunded to AGIF in full. .</p><BR>
                            <p align="justify">(ii) &nbsp;&nbsp;&nbsp;&nbsp;The loanee is able to est that he has not acquired possession of the DU and that the allotment of DU stands cancelled, by the builder.  It should not be a case of disposal of property by sale of the allotted DU to a third party.</p><br>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <p align="justify">
                                (b)  &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Flexibility to Enhance Loan Before Possession</u>.</font></strong>In the erstwhile Pre-EMI sys of recovery, loanees faced financial hardships due to delays in the PDC.  To alleviate the said financial burden, and to stop levying of Pre-EMI,
                                AGIF allowed ‘Old Cases’ (cases where the moratorium pd exceeded 3 yrs) to be frozen and EMI commenced on the amount disbursed.  While this measure provided financial respite to loanees at the time, it left them without the reqd funds when possession of the DU was finally offered.  AGIF will permit such loanees to apply for the
                                unpaid instalments of the already sanctioned loan not disbursed to the member yet.  The above will be subject to furnishing the self attested demand letter by the builder.  The EMI will be reworked.
                            </p><br>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <p align="justify">
                                (c)  &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Change of AWHO Allotment.&nbsp;</u>:-</font></strong>In case a change in allotment of DU is permitted by AWHO, either within the same project or between projects, AGIF will permit tfr of the loan to the new DU.  The change will be carried
                                out on receipt of official intimation to this effect from AWHO.  The docu pertaining to the DU will be returned to AWHO only on receipt of the fresh set of docu.  No enhancement of loan will be permitted, and any difference in cost of the DUs will be borne by the loanees.
                            </p><br>
                        </td>
                        <td class="tabledata" align="justify">
                            <p align="justify">(d)  &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>‘Delayed Projects’ in the context of the concessions provided above are elaborated as follows&nbsp;</u>:-</font></strong></p>
                        </td>


                        <td class="tabledata2" align="justify">
                            <BR>
                            <p align="justify">(i)  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An incomplete Project that has exceeded a pd of 5 yrs (60 months) since commencement of constr..</p>
                            <p align="justify">(ii) &nbsp;&nbsp;&nbsp;&nbsp;A project that is yet to be completed after 1 year (12 months) of the PDC projected at the time of issuing the BBA.</p><br>

                        </td>
                    </tr>

                    <tr>
                        <td align="justify">
                            <BR>
                            <p>14.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Pre-EMI Revision : HBA</u>&nbsp;:-</font></strong>&nbsp;&nbsp;The erstwhile system of levying monthly interest (Pre-EMI) on instalments disbursed to loanees is discontinued and replaced as follows:-</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <BR>
                            <p align="justify">(a)&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Option I : EMI on Full Amount</u>&nbsp;:-</font></strong> &nbsp;&nbsp; Commence recovery of full EMI immediately on disbursement of first instalment.  The EMI in this option is paid as per the sanctioned amount and not the disbursed amount.</p>

                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <p align="justify">
                                (b)  &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Option II : EMI Based on Instalment</u>&nbsp;:-</font></strong>&nbsp;&nbsp;EMI will commence considering only the first instalment as principal and EMI amount would progressively increase as the principal considered increases with the disbursal
                                of each instalment to the loanee.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tabledata" align="justify">
                            <p align="justify">(c)  &nbsp;&nbsp;&nbsp;&nbsp; Option-I will be set as the default option for recovery of loans.  Option-II will be 	exercised 	in exceptional cases only where financial position of a loanee doesn’t allow implementation of 	option-I.</p>


                    </tr>


                    <tr>
                        <td height="17" valign="top">&nbsp;</td>
                        <td valign="top">&nbsp;</td>
                        <td valign="top">&nbsp;</td>
                    </tr>

                </table>
                <p align="left">&nbsp;</p>
                @*<p align="right"><strong><a href="#houseadvance" class="style2">TOP</a></strong></p>*@
                <p align="right">&nbsp;</p>
                <p align="right">&nbsp;</p>
                <hr />
                <p align="right">&nbsp;</p>
                <p align="right">&nbsp;</p>
                <h2 align="center" class="style7">DOWNLOAD</h2>
                <p align="center" class="style6">&nbsp;</p>
                <table width="100%" border="0" align="center">

                    <tr>
                        <td height="30" align="left" valign="center">
                            <b><font size="5"> <a href="~/Home/HBAApplication" target="_blank" title="Click Here For Guideliness">HBA Form</a></font></b>
                        </td>
                        <td height="30" align="right" valign="center">
                            <b><font size="5"> <a href="~/Home/Guidelines" target="_blank" title="Click Here For Guideliness">Guidelines</a></font></b>
                        </td>

                    </tr>

                </table>

                <div style="clear:both;"> </div>
            </div>

        </div>

    </div>
</div>