@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

       
            <a style="font-weight: bold;" href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Log off</a>
            
    }
}
