
@{
    ViewBag.Title = "Requirement";
    Layout = "~/Views/Shared/_Layoutagi.cshtml";
}

<style>
    font {
        font-size: 18px;
    }





    #wrap {
        width: 970px;
        margin: 0 auto;
    }

    .tabledata {
        float: left;
        width: 880px;
        margin-left: 25px;
        margin-right: 5px;
        line-height: 20px;
    }

    .tabledata2 {
        float: left;
        width: 850px;
        margin-left: 45px;
        line-height: 20px;
    }
</style>
<div class="container" style="background:white; padding:5%;">
    <div id="wrap">
        <div id="header">
            <h1 align="center"><span class="style1">CONVEYANCE ADVANCE</span></h1>

        </div>

        <div id="top"> </div>
        <div id="contentt">
            <hr />
            @*<hr>
            <p align="center"><font face="trebuchet ms" size="5"><a name="conveyance advance" id="conveyance advance">CONVEYANCE ADVANCE</a></font></p>
            <hr>*@
            <table width="900" border="0" align="center">

                <tr>
                    <td align="justify">
                        <BR>
                        <div align="justify">
                            1. &nbsp;&nbsp;&nbsp;&nbsp;AGIF provides Conveyance Advance loans up to Rs 10 lac or 90% of the cost of car, whichever
                            is less for new Car and Rs 5 lac or 90% of cost of for second hand Car which is not older than six years and Rs 01 lac
                            for Two Wheeler at the interest rate of 8.75 per cent on monthly rest with effect from 01 Dec 2017. Loan amount for the
                            new Car is repaid in maximum of 08 years and for the second hand Car in 06 years. With regards to two wheelers, the loan
                            amount has to be repaid in maximum of 4 years. EMI Chart for the CA is placed separately on this site. The following
                            conditions are to be fulfilled by the member for grant of conveyance advance :-
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" valign="top" class="tabledata">
                        <BR>
                        <p>(a) &nbsp;&nbsp;&nbsp;Minimum service - 2 years for car loan and on commissioning for two wheeler for officers only.</font></p>
                        <p>(b)&nbsp;&nbsp;&nbsp;&nbsp;Minimum service - 5 years for two wheeler for JCOs/OR.</p>

                        <p>(c)&nbsp;&nbsp;&nbsp;&nbsp;Maximum loan limit - 90% of cost of vehicle.</p>

                    </td>

                <tr>
                    <td colspan="3" valign="top">
                        <BR>
                        <p align="justify">
                            2. &nbsp;&nbsp;&nbsp;&nbsp;<B><u>Car Adv for JCOs</u></B>. Conveyance Advance for purchase of new car ( up to 2000 CC)  has been extended to JCOs
                            with 15 years or more service wef 01 Apr 2011. The loan amount will be up to <font size="2" face="Rupee Foradian">` </font>10 lac/ 90 percent of the cost, whichever is less.
                            For second hand car (up to 2000 CC) the loan amount of <font size="2" face="Rupee Foradian">`</font> 5 lac / 90 percent of the cost, whichever is less.
                            The second hand car should not be older than six years.</font>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td colspan="3" valign="top">
                        <BR>
                        <p align="justify">
                            3. &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Second & Third Conveyance Advance</u>.</font></strong>&nbsp;Second
                            and third Conveyance Advance for purchase of Car / Two Wheeler has been approved with the following terms and conditions wef 01 Feb 2017:-
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" valign="top" class="tabledata">
                        <BR>
                        <p>(a) &nbsp;&nbsp;&nbsp;Conveyance Advance for a third time is permissible.</p>
                        <p>(b)&nbsp;&nbsp;&nbsp;&nbsp;Members are permitted to take max of three conveyance advances out of which four wheeler advance is restricted to twice only.</p>

                        <p>(c)&nbsp;&nbsp;&nbsp;&nbsp;)     First and second conveyance advance should have been liquidated in totality.</p>
                        <p>(d) &nbsp;&nbsp;&nbsp;After 6 years from sanction of last loan.</p>
                        <p>(e)&nbsp;&nbsp;&nbsp;&nbsp;Second & third Conveyance Advance must be repaid in a maximum of 72 EMIs for car and 48 EMIs for two wheeler.</p>

                        <p>(f)&nbsp;&nbsp;&nbsp;&nbsp;Member can take concurrent loan for a four wheeler and a two wheeler, however they will be considered two loans and the loan taken from the Govt should not be outstanding.</p>

                    </td>

                </tr>

                <tr>
                    <td colspan="3" valign="top">
                        <BR>
                        <p align="justify"> 4. &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Documents reqd to be submitted after disbursement of loan</u>.</font></strong>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" valign="top" class="tabledata">
                        <BR>
                        <p>(a) &nbsp;&nbsp;&nbsp;	Registration certificate (RC).</p>
                        <p>(b)&nbsp;&nbsp;&nbsp;&nbsp;	Insurance Cover note.</p>

                        <p>(c)&nbsp;&nbsp;&nbsp;&nbsp;	Receipt from dealer/CSD depot.</p>


                    </td>

                </tr>

                <tr>
                    <td colspan="3" valign="top">
                        <BR>
                        <p align="justify"> 5. &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Car Advance Against Maturity Benefit</u>.</font></strong>&nbsp;Car advance against maturity benefits can be availed by offrs and JCOs as under&nbsp;:-</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" valign="top" class="tabledata">
                        <BR>
                        <p>(a) &nbsp;&nbsp;&nbsp;	Offrs in last two yrs of superannuation approved for Rs 4 lac or 90% of maturity value, whichever is less, on the date of submission of application.</p>
                        <p>(b)&nbsp;&nbsp;&nbsp;&nbsp;	JCOs in last two yrs of superannuation for Rs 2 lac or 90% of Maturity value, whichever is 	less on the date of submission of application. JCO can purchase a new car or second hand car, not 	more than six years old & upto 1500CC.</p>



                    </td>

                </tr>
                <tr>
                    <td colspan="3" valign="top">
                        <BR>
                        <p align="justify"> 6. &nbsp;&nbsp;&nbsp;&nbsp;<strong><font size="2" color="black"><u>Conveyance Advance Linked Group Life Insurance Scheme</u>.</font></strong></p>
                    </td>
                <tr>
                    <td colspan="2" valign="top" class="tabledata">
                        <br>

                        <p>
                            It is a compulsory Group Scheme to insure all loanees for the loan amount taken under the AGIF Conveyance Advance Linked Group Life Insurance Scheme. Under this
                            scheme all loanees will be compulsorily insured by charging a one time non-refundable premium calculated on reducing balance of loan amount. In the event of death of loanee
                            the Next of Kin (NOK) will not be required to pay the scheduled outstanding balance of Conveyance Advance loan which will be liquidated under the insurance loan linked scheme.
                            However, there is no saving component/survival benefit payable under the scheme.
                        </p>
                    </td>
                </tr>



            </table>



            <hr />
            <p align="right">&nbsp;</p>
            <p align="center" class="style7"><u>DOWNLOAD CONVEYANCE ADVANCE FORMS </u></p>
            <p align="center" class="style4">&nbsp;</p>
            <p align="center" class="style3">&nbsp;</p>
            <hr />
            <table width="100%" border="0" align="center">
                <tr>
                    <td width="295" height="29"><span class="style5">For Offrs/JCOs </span></td>
                    <td width="341">
                        <a target="_blank" href="~/_forms/CACar.pdf">
                            New/Old Car (English)
                        </a>
                    </td>
                </tr>


                <tr>
                    <td height="28" width="295"><span class="style5">For offr/JCOs/ORs</span></td>
                    <td width="341">
                        <a target="_blank" href="~/_forms/CATwoWheeler.pdf">
                            Two Wheeler (English)
                        </a>
                    </td>
                </tr>



                <tr>
                    <td width="295">&nbsp;</td>
                    <td width="341">&nbsp;</td>
                </tr>

                <tr>
                    <td width="295">&nbsp;</td>
                    <td width="341">&nbsp;</td>
                </tr>
            </table>


            <p align="center" class="style3">&nbsp;</p>
            <hr />
            <p align="center">&nbsp;</p>
            @*<p align="right"><strong><a href="#conveyance advance" class="style2">TOP</a></strong></p>*@


            <div style="clear:both;"> </div>
        </div>
        <div id="bottom"> </div>
        <div id="footer">Copyright &copy; AGI. All Rights   Reserved</div>

    </div>
    </div>